[2014-04-12 01:33] mounirlamouri opened #10 "The requirement of being fullscreen could be fulfilled by other means than the Fullscreen API"

[2014-04-12 01:35] mounirlamouri opened #11 "OrientationInformation passed to Promise as a result of lockOrientation is broken"
It should be frozen, somehow.

[2014-04-12 01:37] mounirlamouri commented on #10
Unless browsers bind their fullscreen mode to the fullscreen API?

[2014-04-12 01:39] mounirlamouri opened #12 "lockOrientation() returning Promise when no orientation change will happen is unclear"
We could fix that by basically say that if the current orientation is part of orientations, return a resolved promise...

[2014-04-14 18:12] marcoscaceres commented on #11
Let's make it a dictionary as you suggested.

[2014-04-17 20:09] marcoscaceres commented on #12
I think that makes sense. The condition is met so "then" you can continue.

[2014-04-23 04:09] domenic opened #13 "OrientationInformation should be a dictionary"
It is not a constructible class, and has no methods or `this`-dependent constructs, and so should just be a normal JavaScript object (i.e. "dictionary" in WebIDL terms).

[2014-04-23 07:03] mounirlamouri commented on #13
I entirely agree with you. @marcoscaceres did the same suggestion.

However, the WebIDL spec says:

It might not make a lot of sense but going against the spec sounds a bit painful. I should probably ping heycam to know why this is there. I am especially intrigued because it seems that we could return a Dictionary from a function call but not return it from a readonly attribute.

[2014-04-23 12:58] domenic commented on #13
Oh my goodness. That seriously hurts web spec usability. We should get that fixed ASAP in WebIDL. @heycam! Help us!

[2014-04-23 21:57] heycam commented on #13
It's not as simple as lifting the restriction, unfortunately. Dictionary values, like sequences, are "copy-by-value" kind of things, not object references. If we just lift the restriction on IDL attribute types, then each time you get the property you would get a newly created object for the dictionary value. This would make `screen.orientation != screen.orientation`, which I think is something we

[2014-04-23 22:01] domenic commented on #13
Can't we just make them normal JavaScript objects? Why do they have to get new pass-by-value semantics?

[2014-04-23 22:14] heycam commented on #13
Currently Web IDL handles conversion of JS objects to IDL dictionary values when you pass in an object to something expecting a dictionary, and also handles the creation of objects that represent dictionary values when they are returned back to JS. One of the reasons for handling these things was the estimation that spec authors would otherwise end up inspecting properties on dictionary objects an

[2014-04-23 22:15] domenic commented on #13
Maybe just `object` instead of `dictionary`.

[2014-04-23 22:19] heycam commented on #13
That's how you would need to do it now; use `object` and write in prose exactly how to construct the JS object. You lose the ability to describe the shape of the object in the IDL and get the object constructed in a consistent way for free (create a new object as if by `{}`, call `[[Put]]` on the object with these values, then call `[[Put]]` on the object with these values, etc.).

[2014-04-23 22:23] domenic commented on #13
Ah OK, well at least that helps unblock screen orientation.

[2014-04-23 22:25] heycam commented on #13
OK. (Sorry didn't mean to block by saying "please wait for a month".) I hope in the near future we get a solution that will allow you to rip out the manual object construction stuff.

[2014-04-23 22:28] heycam commented on #13
You could actually invoke the "convert IDL dictionary value to JS value" algorithm (the second half of http://heycam.github.io/webidl/#es-dictionary) yourself manually at the point you need to create the object, and then use the result as the `object`-typed IDL attribute value.

[2014-05-02 22:07] marcoscaceres opened #14 "Canonical orientation"
Elsewhere, @larsgk wrote:

[2014-06-23 14:06] mounirlamouri commented on #14
Should be handled by https://github.com/w3c/screen-orientation/pull/18

[2014-06-23 14:08] mounirlamouri commented on #12
See https://github.com/w3c/screen-orientation/pull/19

[2014-06-24 10:43] mounirlamouri commented on #12
Fixed per #19

[2014-06-24 10:43] #12 closed, assigned to mounirlamouri

[2014-06-24 10:53] mounirlamouri commented on #14
Should be fixed by #18 please reopen if you disagree.

[2014-06-24 10:53] #14 closed, assigned to mounirlamouri

[2014-06-30 18:38] mvano commented on #13
I discussed some of this with Mounir in person but would like to get your opinion on this. To the best of my understanding, the following behavior is desirable:
1. screen.orientation is a live object so that if you alias it and orientation changes later, you can read  the updated values from the alias as per normal javascript object references
2. screen.orientation == screen.orientation just as sc

[2014-06-30 19:09] abarth commented on #13
This thread doesn't state a problem that we're trying to solve.  Is there any benefit to making this change?  Having an API described in prose rather than in IDL has a cost because user agents are less likely to implement the prose interoperably.  It sounds like the motivation for this change is just aesthetics, in which case I would recommend not making this change.

[2014-06-30 21:10] domenic commented on #13
(Please excuse me if I say something incoherent, contradictory, or that breaks some constraints we have been trying to preserve; I'm just settling back into this thread after a few months off and haven't quite reminded myself of the problem space.)

@abarth: The problem is creating and using classes (especially non-constructible ones) for things that are just data, not data and behavior. Things wi

[2014-06-30 21:14] mounirlamouri commented on #13
@domenic, do you expect window.screen.orientation to always be the same object with .type and .angle sometimes returning different values or do you expect the underlying object to change when the orientation changes?

[2014-06-30 21:15] domenic commented on #13
@mounirlamouri I could go either way, but I think having it the same object works just fine (as I showed above). It would only need to change if you wanted to make the properties non-writable, which is itself somewhat non-idiomatic.

[2014-06-30 21:40] abarth commented on #13
What happens if we want to add some this-dependent functionality to this object in the future?

[2014-06-30 21:45] domenic commented on #13
Well, leaving aside that the entire design of the object seems against that (it being basically a tuple and all, only one step away from a string), you can then upgrade it to a class instance if necessary, which will lose the benefits of being a plain object. Or you can just leave it a plain object---those can have `this`-dependent functionality as well; the only reason we normally use classes for

[2014-06-30 21:48] domenic commented on #13
Oh, another problem with the getters-on-instances approach is that `Object.keys(window.screen.orientation)` would give `[]`, since it would have no own-properties. (This is what is behind many of the failures I mentioned for e.g. shallow object copying, introspection, and so on.)

[2014-06-30 21:54] mounirlamouri commented on #13
@domenic I would prefer to make the property non-writable because it might confuse developers if you can do `window.screen.orientation.angle = 270;` because it will **not** change the screen orientation angle to 270.

[2014-06-30 21:55] abarth commented on #13
I agree that we should make the object constructible.

The problems you cite with jQuery apply generically to everything in the web platform.  Wouldn't it be better to fix those tools to work well with every interface in the platform?  If we take the approach you're suggesting, we'll have to break them all anyway if we decide to add this-dependent functionality to this object in the future.  If we

[2014-06-30 21:58] domenic commented on #13
@mounirlamouri That's a fair point, although I know most of my fellow TAG members would call it a non-problem and say "if the user wants to overwrite random stuff, they should be able to." But to make it work, you should then update `window.orientation` when it changes. Revising my above example:

[code]

(You can see how this is not really very idiomatic. Even most APIs written by JS developers t

[2014-06-30 22:12] abarth commented on #13
@domenic Should we then use this approach for every object in the platform, including those that have this-dependent functionality?  Perhaps we should only use it for those objects that historically didn't have this-dependent functionality but grew it at a later date.

[2014-06-30 22:16] mounirlamouri commented on #13
@domenic just to make sure I have a comprehensive understanding of your proposal. When we discussed on IRC last week, you suggested to resolve lockOrientation() promise using screen.orientation. However, based on one of your comment above, it seems that I might have misunderstood. Do you not agree with resolving the promise with something at all? Could we just resolve the promise with a new instan

[2014-06-30 22:18] domenic commented on #13
@mounirlamouri

I can't remember why I thought it would be useful. Was there some scenario in which it would different from the user just looking at `window.screen.orientation` themselves? I guess knowing the answer to that would help with the second question about new instances.

@abarth Objects that are instances of classes should be instances of classes. Objects that are not should not be.

[2014-06-30 22:20] abarth commented on #13
@domenic That argument is circular.  The question we're deciding is whether this object ought to be an instance of a class.  More specifically, we're deciding whether the set of objects that represent screen orientations ought to be reified as the class ScreenOrientation.

[2014-06-30 22:22] domenic commented on #13
Exactly. Perhaps we could ask the spec editors? Was the intention for this to be a [class](http://en.wikipedia.org/wiki/Class_%28computer_programming%29), or a [record](http://en.wikipedia.org/wiki/Record_%28computer_science%29)?

[2014-06-30 22:23] abarth commented on #13
If they said that the intention was for this to be a class, would that satisfy you?

[2014-06-30 22:24] domenic commented on #13
Yes, certainly. If OrientationInformation was meant to be "an extensible template for creating objects, providing initial values for state (member variables) and implementations of behavior (member functions, methods)", I would be surprised, and would prefer some justification, but at some level I'd have to accept they know the problem domain better.

[2014-06-30 22:26] abarth commented on #13
IMHO, all interfaces in the web platform should be designed for extensibility given that we're constantly extending the platform.

Rather than foreclosing future extensibility in the platform, we should get folks to fix their unit testing frameworks to work well with the hundreds of interfaces that already exist in the platform.

[2014-06-30 22:30] mounirlamouri commented on #13
OrientationInformation was meant to be a record. Basically, it is screen.orientaiton.{angle,type} but it could have been screen.orientationAngle and screen.orientationType. The .orientation is between is mostly to make it more javascript-y.

[2014-06-30 22:31] abarth commented on #13
@mounirlamouri On what basis do you claim that OrientationInformation was meant to be a record?

[2014-06-30 22:32] domenic commented on #13
Thanks @mounirlamouri, that helps reinforce the reply I was about to make to @abarth. Which is that while I agree with your larger point, Adam, at some level you have to say that you're just using language features, not doing object-oriented design. We don't say "we should use an array of characters instead of a string, since then we can extend it with methods later!" We just use a string. Similar

[2014-06-30 22:33] mounirlamouri commented on #13
@domenic asked for the editor intentions. Edit: I'm the editor.

[2014-06-30 22:38] abarth commented on #13
@mounirlamouri You can't imagine anyone in the future wanting to extend this object with this-dependent functionality?

[2014-06-30 22:55] mounirlamouri commented on #13
I can't speak for what other people might want to do in the future. However, the object returned by `screen.orientation` is meant to describe the screen's orientation and I can't think for many ways to describe a screen orientation. Can you think of any addition that would be this-dependent and still fulfil the role of the object?

[2014-06-30 22:57] abarth commented on #13
I don't think we're smart enough to predict the future, which is why we're fortunate that the web platform is designed for extensibility.

[2014-07-01 16:44] mounirlamouri commented on #13
@annevk @bzbarsky WDYT?

[2014-07-01 17:38] bzbarsky commented on #13
I have no particular opinions on this specific object, though I do think we want to avoid the API design where we mutate a value property on a vanilla object, because that suddenly involves defining what happens when someone has reconfigured it to be non-writable and so forth.

[2014-07-01 20:29] annevk commented on #13
I found an example that seemingly supports @abarth. http://www.w3.org/TR/2011/WD-cssom-view-20110804/#caretposition could have been an object. However, nowadays it has a method on it: http://dev.w3.org/csswg/cssom-view/#the-caretposition-interface

@domenic what would the compatibility story have been here?

[2014-07-01 20:39] domenic commented on #13
@bzbarsky good point; that's another point against my original version and for my second version.

@annevk the compatibility story would have been that we upgraded it to a class, and everything would be fine. (And yes, it is a theoretical back-compat hazard---in the same way changing `Object.prototype.toString.call(document.body.getBoundingClientRects()[0])` from `[object ClientRect]` to `[object

[2014-07-02 02:29] abarth commented on #13
If everything would be fine, then that means authors won't notice the difference and we might as well use a class from the beginning.  Except everything won't be fine.  We'll break all the jQuery and unit testing integrations that you claim are the benefits of this approach.

That's the core of the disagreement.  Whether some particular thing is a record or a class is something we're likely to wan

[2014-07-03 17:53] #11 closed, assigned to mounirlamouri

[2014-07-03 21:58] marcoscaceres commented on #13
On IRC, @mounirlamouri proposed we change the API to:

[code]

This resolves a whole bunch of weirdness, including:
- it's a class! :+1: ... no more dealing with weird dictionaries, etc.
- removes `onorientationchange` on the `<body>` element.
- puts the event handler on a predictable place.
- Makes API much more logical and keeps it extensible

[code]

How's that sound? I'm updating the spec to m

[2014-07-03 23:28] domenic commented on #13
+1, although perhaps orientation.onorientationchange is a bit redundant? No big deal though.

[2014-07-04 04:27] marcoscaceres commented on #13
@domenic, good catch. Will change to `onchange`.

[2014-07-04 08:49] mounirlamouri commented on #13
I think we reached an agreement. I'm closing this issue.

[2014-07-05 00:27] marcoscaceres commented on #13
Reopening so we can close it with a PR

[2014-07-10 20:48] marcoscaceres opened #22 "enum items don't link to anything"
The items of the  OrientationType and OrientationLockType enums currently don't link to anything. They should link to their definitions in the spec.

[2014-07-10 20:50] marcoscaceres opened #23 ""lower than"?"
Spec says:

Maybe we should change that to "less than".

[2014-07-10 20:51] marcoscaceres opened #24 "Avoid normative language in example"
Spec says:

Should say:

(it's a statement of fact)

[2014-07-10 21:03] marcoscaceres opened #25 "determining the active orientation lock"
The spec says:

This needs to be rewritten to drop the MUSTs and the SHOULD. We can't have a SHOULD as the last step there - it's confusing and leaves the possibility that one could return some wrong value.

The steps to determine the active orientation lock are as follows:
1. If there is only one top-level browsing context with a Document that is visible per [PAGE-VISIBILITY], return the orientat

[2014-07-10 22:08] marcoscaceres opened #26 "current orientation lock needs a home"
Spec says:

We should move that concept somewhere that makes more sense. It's kinda just sitting in the middle of the spec.

[2014-07-10 22:08] marcoscaceres commented on #26
Oh, also, that "should" is weird.

[2014-07-10 22:12] marcoscaceres opened #27 "The lock the orientation needs a rewrite"
This whole part of the spec needs to be rewritten to not use RFC2119 language. It should only "if" and "otherwise" and make better use of the orientation information it has.

[2014-07-11 09:31] mounirlamouri commented on #25
I had the SHOULD because I don't feel comfortable doing UX requirement that UA will have no issue ignoring. The first two requirements are pretty obvious and there isn't other alternatives. The latests is less trivial and I wouldn't mind having UA implementing this behaviour in another way.

[2014-07-11 11:46] marcoscaceres commented on #25
Ok, but there needs to be some kind of default or something. Imagine what
is written there being implemented as a bunch of if statements or a switch
block. The SHOULD there acts as a conditional, but without clarifying what
exactly should be returned... I.e., SHOULD return x, otherwise (finally)
return y (the default).

On Friday, July 11, 2014, Mounir Lamouri notifications@github.com wrote:

[2014-07-11 12:27] mounirlamouri commented on #25
Let's do the usual trick: `SHOULD return x, otherwise follow the platform conventions.` ;)

[2014-07-11 13:15] marcoscaceres commented on #25
See! _this_ is what I'm talking about! :+1:

[2014-07-11 14:22] marcoscaceres opened #28 "Add note that non-visible page will get stalled orientation"
Need to add a paragraph making it clear that this mean that a non-visible page will get stalled orientation values which will be updated when the page will be visible again - with a change event.

[2014-07-11 14:53] mounirlamouri opened #29 "Make fullscreen reference informative"
We don't actually require fullscreen in the specification so we shouldn't have this reference as normative, it will just add complexity.

[2014-07-11 14:56] mounirlamouri opened #30 "Fix how the orientation change is processed"
We should:
- update the current screen orientation angle and types before resolving the promise;
- make it clear that while the page isn't visible, the screen orientation values are stalled.

[2014-07-11 15:40] #13 closed, assigned to nobody

[2014-07-11 15:42] mounirlamouri opened #31 "Add a note about unlock() not returning Promise"

[2014-07-11 15:44] mounirlamouri commented on #10
There is no more requirement. I believe this is fixed. @marcoscaceres please reopen if I misunderstood.

[2014-07-11 15:44] #10 closed, assigned to nobody

[2014-07-11 18:12] marcoscaceres commented on #10
Yep. All is good.

[2014-07-15 22:08] #23 closed, assigned to nobody

[2014-07-18 14:17] mounirlamouri commented on #29
Hmm, for some reasons I thought that 7.1 was non-normative. I rewrote some stuff but nothing important.

[2014-07-18 14:17] #29 closed, assigned to nobody

[2014-07-18 14:48] #24 closed, assigned to mounirlamouri

[2014-07-18 17:51] #22 closed, assigned to mounirlamouri

[2014-07-19 14:27] #31 closed, assigned to mounirlamouri

[2014-08-04 17:06] marcoscaceres opened #38 "Fix references to HTML spec"
[Elsewhere](http://lists.w3.org/Archives/Public/public-webapps/2014JulSep/0188.html), Paul Cotton noted that:

I would strongly urge us to bypass all this and just reference the WHATWG HTML (i.e., [[!HTML]]).

[2014-08-05 14:13] marcoscaceres opened #39 "Redundant conditionals"
Else where, @annevk wrote:

Spec zes:

Does it ever state otherwise? Please remove the conditional if not.

You never state  otherwise. I would ask you to remove the conditional.

[2014-08-05 14:14] marcoscaceres opened #40 "Use animation frame task"
Elsewhere, @annevk chirped:

[2014-08-05 14:15] marcoscaceres opened #41 "Use operation instead of task"
Elsewhere, @annevk scoffed:

[2014-08-05 14:18] marcoscaceres opened #42 "Updating orientation values is potentially racy"
Elsewhere, @annevk diligently pointed out:

[2014-08-05 14:20] marcoscaceres opened #43 "Use TypeError instead of DOMException"
Elsewhere, @annevk inquisitively asked:

[2014-08-05 14:21] marcoscaceres opened #44 "What's the context for "apply an orientation lock""
Elsewhere, @annevk demanded to know:

[2014-08-05 14:24] marcoscaceres opened #45 "Typo "to be""
Elsewhere, @annevk put on his Shakespearean outfit and spouted:

[2014-08-05 14:26] marcoscaceres opened #46 "Rename variables to more clearly indicate what is a list"
Elsewhere, @annevk pointed out:

[2014-08-05 14:28] marcoscaceres opened #47 "Queuing action is badly spec'd"
Elsewhere, @annevk stated:

[2014-08-05 14:30] marcoscaceres opened #48 "Remove text about what "fullscreen enabled flag" means"
Elsewhere @annevk said:

[2014-08-05 14:31] marcoscaceres opened #49 "Enumerate objects on which events are fired"
Elsewhere, @annevk wrote:

[2014-08-14 18:58] marcoscaceres opened #50 "align "the screen as it is drawn" and "viewport is drawn""
Elsewhere @dontcallmedom wrote:

[2014-08-14 18:59] marcoscaceres opened #51 ""apply an orientation lock" should reference firing event"
Elsewhere, @dontcallmedom wrote:

[2014-08-14 19:00] marcoscaceres opened #52 "Clarify relationship to css-device-adapt"
Elsewhere, @dontcallmedom wrote:

[2014-08-14 20:25] marcoscaceres opened #53 "Promise<void> ?"
Elsewhere, @dontcallmedom wrote:

[2014-08-14 20:28] marcoscaceres commented on #53
Need to ask public-script-coord.
Essentially, this changes what `arguments.length` equals to. It would make sense to call it with no argument instead of `undefined` tho.

[2014-08-14 21:51] marcoscaceres commented on #53
Seems it should be `void` and resolving with `void` too.

[2014-08-14 22:33] domenic commented on #53
I wouldn't resolve with `void`, although I guess it would work... resolving with `undefined` seems clearer and also allowed?

[2014-08-14 22:41] marcoscaceres commented on #53
Argh, the IDL spec is mega confusing here. "undefined" is not really defined as a type. But then it says:

[2014-08-14 22:41] marcoscaceres commented on #53
cc @heycam.

[2014-08-14 23:56] heycam commented on #53
This is just saying that if you have say

[code]

then the JS `Function` object that implements `A.f` must return undefined.

As for using `Promise<void>`: Web IDL doesn't have definitions for "resolve promise with this value" or "reject promise with this value". Arguably it should, so that we can have consistent handling of ES -> IDL type conversions. If people write specs now with wording like t

[2014-08-15 15:02] mounirlamouri commented on #53
Should be fixed, please feel free to reopen if you disagree.

[2014-08-15 15:02] #53 closed, assigned to nobody

[2014-08-20 15:24] marcoscaceres commented on #30
Related to #28

[2014-08-20 15:31] marcoscaceres commented on #43
This is probably invalid.

[2014-08-20 15:31] mounirlamouri commented on #43
I disagree with @annevk. The current paradigm is to reject Promises with DOMException. We don't really reject for type related issues. Closing.

[2014-08-20 15:31] #43 closed, assigned to nobody

[2014-08-20 15:33] annevk commented on #43
`TypeError` is JavaScript's generic error for all kinds of issues. And what paradigm are you talking about?

[2014-08-20 15:40] mounirlamouri commented on #52
According to @marcoscaceres, @dontcallmedom wrote that comment above.

I talked with the css-device-adapt spec editor a long time ago and he wasn't interested in changing the spec back in the days. Device Adaptation is anyway compatible for the moment.

[2014-08-20 15:40] #52 closed, assigned to nobody

[2014-08-20 17:12] marcoscaceres commented on #43
@annevk, are you suggesting we just change the spec to, for example:

About the paradigm, it's from @domenic's [Promises guide](https://github.com/w3ctag/promises-guide#rejection-reasons-should-be-errors):

In this case, we felt that the DOMException clearly conveyed why the promise was rejected instead of a TypeError (as the names of DOMExceptions are fairly clear): "NotSupportedError", "AbortErr

[2014-08-20 18:01] annevk commented on #43
See Fetch for examples of rejecting a promise with a TypeError. DOMException is a mess and doesn't follow a pattern of the ECMAScript standard library. I would stay clear of it.

[2014-08-20 19:10] domenic commented on #43
I think it's good to go for TypeError if you have any ambitions of your spec being part of the ES standard library, or useful in other environments like Node. (Fetch definitely falls in this category IMO.) But DOMException isn't the worst thing in the world and seems OK for this kind of API.

[2014-08-20 19:12] #45 closed, assigned to nobody

[2014-08-20 19:56] marcoscaceres commented on #43
Thanks @domenic. I think we will keep it as "wontfix".

[2014-08-21 18:38] #38 closed, assigned to marcoscaceres

[2014-08-21 18:38] #41 closed, assigned to marcoscaceres

[2014-08-21 20:44] annevk commented on #48
How does removing the parenthetical remove the problem?

[2014-08-21 20:48] marcoscaceres commented on #48
Sorry, I literally took your comment to mean that what was in the parenthesis was the problem. I'll have to re-read the fullscreen spec. Might need a few more hints about the problem to fix the issues.

[2014-08-22 07:57] annevk commented on #48
No, the fullscreen enabled flag is the problem. It's just a thing that indicates whether or not a document can _potentially_ go fullscreen. It's for the `allowfullscreen` attribute in HTML.

[2014-08-22 09:31] #25 closed, assigned to mounirlamouri

[2014-08-22 09:31] #26 closed, assigned to mounirlamouri

[2014-08-22 09:31] #39 closed, assigned to mounirlamouri

[2014-08-22 09:45] mounirlamouri commented on #48
Taking this. I completely overlooked Marcos' patch. I have one ready.

[2014-08-22 13:35] mounirlamouri commented on #51
I remember that the description used to do that but it was pretty confusing, mostly because applying an orientation lock doesn't have to change the current screen orientation so it might or might not fire an event. Making that part clear and short would be an tedious exercise.

The spec is fairly small and (I hope) well structured. It's probably not too much asked to the user to read the entire se

[2014-08-22 13:35] #51 closed, assigned to mounirlamouri

[2014-08-22 13:38] mounirlamouri opened #59 "Add examples"

[2014-08-22 13:44] mounirlamouri commented on #27
@marcoscaceres, it seems that this was fix in a previous pull request. Let me know if you still want me to change things here.

[2014-08-22 13:44] #27 closed, assigned to mounirlamouri

[2014-08-22 18:59] marcoscaceres commented on #48
thanks!

[2014-08-22 19:00] marcoscaceres commented on #59
Which examples are we missing?

[2014-08-23 10:48] #50 closed, assigned to mounirlamouri

[2014-08-23 10:49] mounirlamouri commented on #59
I was thinking of moving the examples section at the end and have a couple of different examples using all parts of the API so readers can quickly have a look on how it is used.

[2014-08-25 09:27] mounirlamouri commented on #46
None of those are a list, I'm going to rewrite some stuff to make things clearer.

[2014-08-25 09:36] mounirlamouri commented on #48
Fixed by #60.

[2014-08-25 09:36] #48 closed, assigned to mounirlamouri

[2014-08-25 09:52] mounirlamouri opened #62 "Link Screen Orientation with Fullscreen more cleanly"
It requires @annevk to add some hooks inside the Fullscreen specification.

This issue is not meant to block any release state of the specification but should be fixed whenever the Fullscreen specification will be ready.

[2014-08-25 16:46] marcoscaceres commented on #46
Is it maybe that, for instance, "landscape" is really ["landscape-primary", "landscape-secondary"] and so on?

[2014-08-25 17:16] marcoscaceres commented on #59
Ok, whatever you prefer.

My 2c: I like specs that have examples as the introduction because I can quickly get a sense of how the API is used and the use cases it addresses.

[2014-08-26 07:27] annevk commented on #46
Yeah, how are those not lists?

[2014-08-28 20:18] marcoscaceres commented on #40
This one screws "Locking the screen orientation" where we "Cancel all tasks in the screen orientation task source.".

If we were to fix this, we would need to find all tasks related to screen orientation and cancel them one by one.

[2014-08-28 23:09] #59 closed, assigned to mounirlamouri

[2014-08-29 14:44] #46 closed, assigned to mounirlamouri

[2014-09-02 19:28] marcoscaceres commented on #49
@mounirlamouri do iframes also receive an orientation event? Re-reading the spec, the whole eventing model + interaction with visibility state is a bit messed up in the locking/unlocking algorithms :(

Can we set some time aside to go through this later this week? I'm struggling to fix this without rewriting a lot of text.

[2014-09-08 14:54] annevk commented on #40
You could group them yourself. Or make sure the animation frame task specifier people provide this functionality.

[2014-09-08 15:07] annevk opened #66 "Rename variables to more clearly indicate what is a list"
Given https://github.com/mounirlamouri/screen-orientation/commit/f69832082f7ef78bdb6d2274d99d2ad3c9d5de16 it's still not clear to me how these are not lists or sets. `orientations` is plural so what is going?

[2014-09-08 15:44] marcoscaceres commented on #40
yeah, I was thinking maybe we add a flag to each task and then say cancel all the tasks that have that flag.

[2014-09-10 18:59] mounirlamouri commented on #66
The current prose is:
`A document's orientation lock is the orientation lock that applies on its top-level browsing context. An orientation lock is a set of OrientationType.`

I believe it is clearly described as a set, right?

Please reopen if you disagree.

[2014-09-10 19:32] mounirlamouri commented on #40
Moving this post-LC. I think it would be interesting but we want to move to last call ASAP. I don't think this issue needs to block this milestone even more given that the animation frame task concept isn't yet clearly defined.

[2014-09-10 19:37] #28 closed, assigned to marcoscaceres

[2014-09-10 19:37] #47 closed, assigned to marcoscaceres

[2014-09-10 20:06] #44 closed, assigned to mounirlamouri

[2014-09-10 22:24] mounirlamouri opened #69 "Move the HTML specification monkey patching to the HTML specification"
See W3C bug: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25310

Section 5: Extension to the HTML sandboxing model should be moved to the HTML specification.

We expect to do that after LC because at that point, there will be a clear enough signal for the HTML specification that taking our change is worth it.

[2014-09-11 21:00] mounirlamouri commented on #49
Fixed by #68

[2014-09-11 21:00] #49 closed, assigned to mounirlamouri

[2014-09-11 21:00] mounirlamouri commented on #42
Fixed by #68

[2014-09-11 21:00] #42 closed, assigned to mounirlamouri

[2014-09-11 21:00] mounirlamouri commented on #30
Fixed by #68

[2014-09-11 21:00] #30 closed, assigned to mounirlamouri

[2014-09-12 07:05] annevk commented on #66
I have no reopen powers in this repository.

However, if it's a set, why not call it that? Why name it orientation lock rather than orientation lock set?

The whole problem here is that you do things like "If the active orientation lock is not the document's orientation lock, abort these steps." without explaining how you compare sets in this way. Are (x, y) and (y, x) different or identical sets?

[2014-09-12 07:12] annevk opened #72 "4.4 Handling screen orientation changes"
- Both algorithms listed here lack detail about whether they run asynchronously or not.
- They are unclear from what task they run.
- They do not queue tasks to synchronize but rather just dispatch events.
- You are monkey patching PAGE-VISIBILITY.

[2014-09-12 18:12] marcoscaceres commented on #66
(I'm just going to say, and I know you are going to hate me Anne, but it really helps us when you provide us with guidance like the above ... don't expect you to do our job for us, but still really helps!)

[2014-09-13 09:52] annevk commented on #66
Well, in my very first email I thought it was a list and suggested you name it such and clarify the operations given that you operate on a list rather than a single value. Turns out it is a set, but the same comment applies.

[2014-09-18 14:02] mounirlamouri opened #73 "Link to GitHub instead of w3c's bugzilla for opened bugs and new bugs"

[2014-09-18 14:44] marcoscaceres commented on #73
oh, yes please. And let's add it to the top of the document

[2014-09-18 15:07] mounirlamouri commented on #73
Fixed by #74.

[2014-09-18 15:07] #73 closed, assigned to mounirlamouri

[2014-09-18 15:21] mounirlamouri commented on #66
So, I did the change, read the spec with the change and I was not convinced. If I change "orientation lock" to "orientation lock set" I would have to change "active orientation lock" to "active orientation lock set" and so on. In my opinion, there is no need to suffix the concept with the type. It's mostly a taste or a convention. I think that addition makes the reading the specification more pain

[2014-09-18 15:21] #66 closed, assigned to nobody

[2014-09-18 15:24] mounirlamouri commented on #66
(Note: I've closed this issue mostly to reflect the fact that I do not think there is anything to do about this at the moment. It does not mean that you can't tell me that I'm wrong ;))

[2014-09-18 15:35] mounirlamouri commented on #72
Will fix that.

Ideally, that should happen in the animation frame task source but that's not really defined yet and in the purpose of moving to LC, I don't think it's a good idea to depend on unclear concepts. I will add a comment to the animation frame task source issue that we have opened.

Will fix that.

I assume you are referring to the second paragraph? To me, it's not really monkey patchin

[2014-09-18 15:36] mounirlamouri commented on #40
Section 4.4 (Handling screen orientation changes) should probably run in the animation frame task source as soon as it is ready.

[2014-09-18 15:40] annevk commented on #72
That is monkey patching... As e.g. if I implemented it that way it would be different if someone overwrote `document.visibilityState`.

As for animation frame task, you should point that out in the specification. It's a disservice to implementers to hide such essential details for the purposes of some silly process you're trying to go through.

[2014-09-18 15:51] mounirlamouri opened #75 "Add comments inside the ED about current issues"
Things like animation frame tasks and so on should be directly marked in the specification. Let's do that after the LC milestone.

[2014-09-18 15:51] mounirlamouri commented on #72
I will send a feedback to the web-perf mailing list. Can't really do more.

I opened #75 to do that. Will work on this after the LC milestone.

[2014-09-18 16:47] mounirlamouri opened #77 "Improve hooks with Page Visibility."
The Page Visibility specification doesn't provide a clear way to hook into "document becomes visible/hidden". For the moment, the specification is using "now visible algorithm" but it could be improved.

I sent an email about that: http://lists.w3.org/Archives/Public/public-web-perf/2014Sep/0034.html

This is marked as a Future Enhancement because this specification can only hooks into Page Visibi

[2014-09-18 16:48] mounirlamouri commented on #72
I opened an issue (#77) about improving how we hook into Page Visibility. I've also sent an email to the web-perf mailing list to request a better hook: http://lists.w3.org/Archives/Public/public-web-perf/2014Sep/0034.html

I will write a patch to use "now visible algorithm". Should be better.

[2014-09-18 19:09] annevk commented on #66
Not all sets are identical. E.g. sets in ECMAScript are ordered. Still seems bad.

[2014-09-18 19:23] mounirlamouri commented on #66
To me, ordered or unordered for a set is an implementation detail in the sense that it will make iterating trough it faster and more reliable or not. I can also precise that the set in unordered to remove any confusion.

[2014-09-19 13:18] mounirlamouri commented on #72
I think all the issues raised here have been fixed or have a follow-up issue.

[2014-09-19 13:18] #72 closed, assigned to mounirlamouri

[2014-09-23 20:30] marcoscaceres commented on #66
Given 7b9efdd, can we close this?

[2014-09-23 20:30] marcoscaceres commented on #66
actually, never mind... it's already closed.

[2014-09-25 13:55] marcoscaceres opened #79 "Clarify orientation.angle behavior"
@sicking wrote:

[2014-09-25 14:06] AFBarstow commented on #79
Including a link to Jonas' comment in case someone wants a bit more context: http://lists.w3.org/Archives/Public/public-webapps/2014JulSep/0531.html

[2014-09-25 19:23] sicking commented on #79
I don't feel strongly about the exact wording, but maybe something like:

The property indicates how far the user has turned the device counter-clockwise from it's "natural" orientation. When the device is turned is rotated 90 degrees counter-clockwise, and thus the screen compensates by rotating 90 degrees clockwise, this property returns 90.

If the device is rotated 90 degrees clockwise from it

[2014-10-07 21:13] mounirlamouri commented on #75
PR #80 took care of part of this.

[2014-10-07 22:30] marcoscaceres opened #81 ""unlocked" not explicitly defined"
The manifest spec speaks of "unlocked" in the screen orientation spec, but the spec doesn't formally define what is means for an orientation to be unlocked. Would be nice to have an actual hook for that.

[2014-10-07 22:31] marcoscaceres commented on #81
Section of the manifest spec:
https://w3c.github.io/manifest/#orientation-member

Relevant text:

[2014-10-15 12:48] mounirlamouri commented on #81
I'm not sure we should define unlocked. Setting the default orientation in that case should be enough. You only need "unlock" because you try to point to the places where the default orientation is used in the prose. It's kind of redundant.

Maybe you could just point at those as examples where the default orientation is used?

[2014-10-15 12:56] mounirlamouri commented on #75
Issues #40, #62, #69 and #77 are now listed in the document.

Marking as fixed.

[2014-10-15 12:56] #75 closed, assigned to nobody

[2014-10-15 15:15] richtr commented on #79
Shouldn't the `angle` interval be specified as [0, 360) instead? For reference: http://en.wikipedia.org/wiki/Interval_(mathematics)#Including_or_excluding_endpoints.

[2014-10-15 16:08] marcoscaceres commented on #81
yeah, using default orientation might work.

[2014-10-28 16:35] marcoscaceres opened #82 ""Security" condition should be something else"
During TPAC, it was pointed out that "security condition" doesn't quite capture the conditions that restrict applying orientation. We should probably change "security" to something else.

[2014-12-04 05:50] hexalys opened #83 "The orientation type 'Natural' should only lock to x-primary"
The following definition has contradictions, leading to confusion as to what is `natural`:

The angle shall never be `0` on a -secondary position. The point of `natural` is to be a unique `0` angle opposite of a `180` reverse angle. Allowing an implementation to lock to `natural`  to `x-secondary` would reduce natural to an orientation as opposed to an angle.

It should definitely not be the same

[2015-02-12 03:22] hexalys commented on #83
@mounirlamouri Any review of this issue yet? Instead it should be:

natural: Append portrait-primary or landscape-primary to orientations such as the associated screen orientation angle is 0.

[2015-02-23 16:15] mounirlamouri commented on #83
Thanks for the report @hexalys and sorry for taking so long to reply. PR #84 is fixing this. Feel free to leave a comment there if it doesn't match what you were expecting.

[2015-03-26 11:30] #83 closed, assigned to nobody

[2015-06-06 08:40] tobie opened #85 "Clarify the meaning of "screen orientation angle""
The spec refers to both "screen orientation angle" (SOA) and "current orientation angle" (COA) but never defines the SOA. It seems, from a cursory glance, that both refer to the same thing. If so either linking SOA to the definition of COA, or better yet only using the SOA would help. If these were in fact two different concepts, you need to define SOA somewhere.

[2015-06-07 18:53] mounirlamouri commented on #85
Fixed by https://github.com/w3c/screen-orientation/pull/86

[2015-06-07 18:53] #85 closed, assigned to nobody

[2015-06-17 23:48] smaug---- opened #87 "Deal with fragment navigation"
"Whenever a top-level browsing context is navigated, the user agent MUST lock the orientation of the document to the document's default orientation. " doesn't deal with fragment navigation.

[2015-06-17 23:55] smaug---- commented on #87
...since I assume fragment navigation shouldn't affect to the orientation lock.

[2015-06-18 07:00] annevk commented on #87
Yeah, this should be a hook from within the navigate algorithm, just like the Fullscreen API does it.

[2015-06-22 01:25] marcoscaceres commented on #87
@smaug---- also wrote:

[2015-07-15 15:08] mounirlamouri commented on #87
Modifying the HTML specification sounds unfortunate especially because I doubt implementations will hook that directly to the navigation algorithm.

Either way, Chrome is actually ignoring fragment navigation. The fact that it is missing from the specification is an oversight. Marcos, feel free to update the spec in a way that pleases @smaug and @annevk, it is probably easier for the three of you

[2015-08-11 05:43] annevk commented on #87
The way I would do this is that you have define a hook that navigate can invoke. Then you define a monkey patch for navigate and file a bug on HTML. Then once HTML is patched you replace the monkey patch with a reference to the HTML navigate algorithm. That way it's sufficiently clear on both sides that these algorithms have an interaction.

[2015-12-10 12:23] siusin opened #88 "Fullscreen Element Stack Not Found in Fullscreen"
Broken fragments:
https://fullscreen.spec.whatwg.org/#fullscreen-element-stack (line 176)

[2016-05-27 22:09] #69 closed, assigned to nobody

[2016-06-29 04:52] upsuper opened #89 "Timing of triggering change event doesn't look right"
The current spec says:

There are several issues here:
1. When is the viewport drawn? Shouldn't it be drawn every animation frame? Should `change` event be fired for each animation frame? (I suppose apparently it shouldn't.)
2. There is no definition of what "device's natural orientation" is.
3. Why should the event be fired when the orientation is different from a given orientation? Shouldn't it

[2016-07-08 15:28] #40 closed, assigned to nobody

[2016-07-08 15:29] mounirlamouri commented on #89
I believe bc42f9c addresses your comment. WDYT?

[2016-07-08 15:29] #89 closed, assigned to nobody

[2016-07-11 13:51] #88 closed, assigned to nobody

[2016-07-12 20:01] jvjvjv opened #91 "Allow lock Orientation more than one orientation"
I'd like to see screen orientation allow more than one. for example, I'd like to to be able to do the following:

[code]

[2016-07-12 22:06] mounirlamouri commented on #91
This used to be in the spec but has been removed because it wasn't implementable on Android and we have no browser implementations outside of Android no that meant that we would specify something that no one would have implemented.

We should reconsider this when we get implementation feedback.

[2016-07-12 22:06] #91 closed, assigned to nobody

[2016-07-13 20:36] purplecabbage commented on #91
+1 to include this functionality
I believe it IS implementable in cordova-android.
Just as an fyi, we have already begun implementing the spec in [cordova-plugin-screen-orientation](https://github.com/apache/cordova-plugin-screen-orientation)

[2016-07-14 08:57] mounirlamouri commented on #91
What would be your use cases for this?

[2016-07-15 00:09] purplecabbage commented on #91
@jvjvjv might be able to provide more, but if you have an app where you either want the front facing camera on the left or the top, you could choose [portrait-primary, landscape-primary] although I guess this could just be achieved with 'natural' ... but there absolutely could be some 'unnatural' requirements as well.

[2016-07-15 00:30] purplecabbage opened #92 "screen-orientation.change events should be cancellable"
userland code should be given the chance to ignore the event and prevent the orientation from changing.

[code]

[2016-07-15 03:33] marcoscaceres commented on #92
These report after the orientation has already changed, not before... so default can't be prevented.

To prevent the default, one uses the API to lock the orientation to what your app needs.

[2016-07-15 05:32] #92 closed, assigned to nobody

[2016-07-15 13:58] jvjvjv commented on #91
@purplecabbage is on a track that I was on when I was thinking about it. I'm actually in the middle of developing something where I need to offer portrait-primary because the app was just in that position, but also allow the device to be turned into landscape mode so the user can perform the actual task. Upside-down is not even supported in this application, which means unlocking orientation is no

[2016-11-07 15:22] domenic opened #93 "Event firing needs fixes"
"Fire a simple event" has been removed. Instead just use [fire an event](https://dom.spec.whatwg.org/#concept-event-fire).

Also, very importantly, since you are firing the events from asynchronous browser code, you need to specify which constructor you are using. So e.g.

/cc @annevk @bzbarsky

[2016-11-07 15:25] domenic opened #94 "Confusiong between "_pending-promise_" and "doc's pending promise""
In step 6 of "apply an orientation lock", suddenly the variable _pending-promise_ appears. It gets set to something before it is ever initialized. And each document's pending promise is only ever set to null, and never set to a promise.

I think all references to _pending-promise_ are supposed to be to an appropriate document's pending promise.

[2016-11-07 18:14] annevk commented on #93
With "fire an event" you don't have to define the Realm since we just grab it from the target. That's the nice thing about using "fire an event".

[2016-11-07 18:21] domenic commented on #93
Oh yeah, I forgot we merged that. Well, I guess that's just another reason why it's important to reference the up to date "fire an event"

[2016-11-08 06:55] marcoscaceres commented on #93
fancy!

[2016-11-29 00:51] marcoscaceres opened #95 "Test suite"
We need a test suite to progress this to REC at some point.

[2016-12-01 17:27] wseltzer opened #96 "Lacks a privacy and security consideration section"
Please include information from the security and privacy self-review, even if it's an explanation why you see no privacy issues.

[2017-01-24 12:28] foolip opened #97 "Clarify in which animation frame task events are fired"
https://w3c.github.io/screen-orientation/#handling-screen-orientation-changes

Although animation frame tasks aren't actually defined properly yet, they will have to be a per-browsing context concept, similar to `window.requestAnimationFrame()`.

For screen orientation, it hopefully works to change the structure to "for each animation frame task enqueue an animation frame task to ...". In the abse

[2017-05-02 07:35] alexshalamov opened #99 "Orientation angle cannot be precisely mapped to orientation type for devices with 1:1 screen size ratio"
According to steps in chapter 4.1 (Step 2), devices that have screen with 1:1 aspect ratio, will always have portrait-primary or portrait-secondary orientation type. This will lead to the cases, when same orientation types are mapped to different angle values.

[2017-05-02 07:37] alexshalamov opened #100 "Steps for updating orientation information are misleading"
In chapter 4.1, steps for updating orientation information refer to a document in several places. Other parts of spec refer to document object as well.

It is misleading, since the ScreenOrientation is part of Screen interface, not the document. Screen orientation may affect document orientation (rendering), not vice-versa. Also, screen orientation can be locked from API (or on platform level), do

[2017-05-02 07:38] alexshalamov opened #101 "Orientation angle to orientation type mapping for 2-in-1 devices"
Devices that could change mode of operation (e.g., 2-in-1s) might have different preferences for *-primary *-secondary types for different modes (tablet | laptop), therefore, in some cases, angle cannot be precisely mapped to orientation type. Thus, it would be difficult to fulfill following requirement:

[2017-05-20 15:55] LJWatson opened #102 "Wide review tracker"
A11y: [complete](https://www.w3.org/WAI/APA/wiki/The_Screen_Orientation_API)
[Comments from APA WG](https://lists.w3.org/Archives/Public/public-webapps/2018AprJun/0035.html)

Device APIs: [complete](https://www.w3.org/2009/dap/track/actions/787)
Issues #101, #100, and #99

I18n: [complete](https://github.com/w3c/i18n-activity/issues/265) - no issues

Privacy: complete (no tracker) - no issues

Sec

[2017-06-13 21:39] LJWatson opened #103 "Time at TPAC?"
Would you like time at [TPAC](https://www.w3.org/2017/11/TPAC/) to update the WG on progress and/or bring issues up for discussion?

Please let me know by Friday 16th June. If yes, please also let me know how much time you think you'll need.

[2017-06-15 06:56] marcoscaceres commented on #103
Probably need 5-10 mins.

[2017-06-15 06:56] #103 closed, assigned to nobody

[2017-06-22 03:44] jjmax75 opened #104 "Promise for unlock()?"
I understand that this might not be possible from the note -

I am working on building an app that uses WebVR. Entering VR mode requires going fullscreen and then locking orientation to landscape. This works perfectly.

However exiting this mode when phone is in portrait orientation, on tested Android devices, results in the browser bar and menu disappearing and a large white space appearing under

[2017-06-22 15:15] tomrittervg commented on #96
As mentioned in https://www.w3.org/2001/tag/doc/unsanctioned-tracking/ :

[the TAG a]sserts that when a new feature does add fingerprinting surface area, it should be documented as such.

[2017-07-25 13:31] cynthia opened #105 "Spec is unclear about how locks work across multiple screens and display context switches"
During the TAG review in w3ctag/design-reviews#157 we mentioned a small nit about something that was unclear. (This is different from the issue raised in #101 )

If there are multiple screens in different orientations, and the orientation is locked on one screen - what should happen when dragging the browser window across different displays?

Given the following scenario:
1. Tablet+PC (e.g. Micros

[2017-07-26 12:47] LJWatson commented on #102
marcoscaceres and  @mounirlamouri, do you think any of the issues open against the spec need resolution before we move to CR?

[2017-08-02 04:41] marcoscaceres commented on #102
we might need to find new editors for this spec. Mounir and I don't seem to have time to attend to it properly.

[2017-08-04 14:14] LJWatson commented on #102
We can do that, but it would be a shame to lose you both this close to the finishing line.

Would you have time to triage the five issues noted above, to get a sense of which (if any) need to be addressed before CR and what that might entail?

[2017-09-15 16:19] annevk opened #106 "Add [Exposed] to all interfaces"
Needed for https://github.com/heycam/webidl/issues/365.

[2017-10-31 20:57] #106 closed, assigned to nobody

[2017-11-02 17:17] pozdnyakov commented on #99
I guess same applies for round displays

[2017-11-03 13:01] #93 closed, assigned to nobody

[2017-11-05 04:39] #94 closed, assigned to nobody

[2017-11-10 01:02] LJWatson commented on #102
It's sad, but if neither of you is able to continue editing, I'll put out a call for new editors. Is there anyone you think we should approach directly?

[2017-11-10 01:03] marcoscaceres commented on #102
Yeah :( I don't know who to recommend, to be honest. I can maybe pick it up again next year.

[2017-11-10 01:13] LJWatson commented on #102
It would be good if you can. Will send cake if it'd help?

[2017-11-10 05:09] marcoscaceres commented on #102
It won’t. Mounir will want some and I don’t like to share.

[2017-11-10 11:20] mounirlamouri commented on #102
I've changed a bit how I handle github emails so I should be slightly more responsive. I don't expect this spec to take much of my time so happy to continue editing.

@LJWatson are the issues listed above the CR blockers?

[2017-11-10 18:18] LJWatson commented on #102
Thanks @mounirlamouri @marcoscaceres

The issues in the [first comment](https://github.com/w3c/screen-orientation/issues/102#issue-230162067) are the ones we need to resolve before we open the CFC to transition to CR.

Once in CR we'll need to produce an implementation report (evidence that each feature of the spec has at least two implementations). It doesn't look like their are WPT tests for thi

[2017-11-10 18:23] LJWatson commented on #102
Meantime we should get the WD updated (it hasn't been in about 12 months). @xfq can you help with this?

[2017-11-13 05:23] xfq commented on #102
@LJWatson It looks like the WD is [automatically updated](https://github.com/w3c/screen-orientation/blob/gh-pages/.travis.yml).

[2018-01-09 11:08] LJWatson commented on #102
@marcoscaceres @mounirlamouri ping for any progress/timeline? Thanks.

[2018-01-16 05:03] marcoscaceres commented on #102
@LJWatson, no, sorry :(

[2018-01-30 19:03] tshinnic opened #113 "Where are terms 'primary' and 'secondary' defined within spec?"
It may be a fault in my education that I do not know what 'primary' or 'secondary' are supposed to mean here, but the specification is not helping by defining these terms.  Somehow the statement

is insufficient illumination.

[2018-01-31 14:37] mounirlamouri commented on #113
One of the two primary orientation is expected to be the natural orientation of the device. The other primary is really hard to define.

[2018-04-10 03:07] xfq commented on #113
MDN has some explanation here: https://developer.mozilla.org/en-US/docs/Web/API/Screen/lockOrientation

(Although `lockOrientation` has been removed from the spec.)

[2018-04-17 07:13] xfq commented on #62
Are the Fullscreen hooks ready now?

[2018-04-18 04:07] xfq commented on #95
There's a [screen-orientation](https://github.com/w3c/web-platform-tests/tree/master/screen-orientation) directory in web-platform-tests now.

[2018-04-20 01:25] mounirlamouri commented on #95
Thanks for the update :)

[2018-04-20 01:25] #95 closed, assigned to nobody

[2018-04-20 01:28] mounirlamouri commented on #62
It doesn't look like it.

[2018-04-20 02:12] xfq commented on #62
Is there a GitHub issue in Fullscreen (and in Page Visibility, see #77) so that we can properly track it?

[2018-05-08 01:19] xfq commented on #79
I don't think so, because [angle](https://w3c.github.io/screen-orientation/#screenorientation-interface) is an [unsigned short](https://heycam.github.io/webidl/#idl-unsigned-short).

[2018-05-08 02:02] xfq commented on #81
It seems that we can close this issue now?

[2018-05-08 02:12] xfq commented on #82
Would you please elaborate on what "something else" might be? (Labeling this as "future" for now.)

[2018-05-08 02:19] xfq commented on #87
@annevk Any progress on the hook from within the navigate algorithm?

[2018-05-08 02:19] xfq commented on #87
(Labeling this as "future" for now.)

[2018-05-08 06:44] xfq commented on #97
Given that https://github.com/whatwg/html/pull/2627 has been closed, mark this issue as "future" for now.

[2018-05-08 07:03] annevk commented on #87
@xfq typically those monkey patches work on the hooks. File an issue against the HTML Standard with some sense of the priority?

[2018-05-08 07:05] xfq commented on #99
Any suggestion on how to solve this issue? Introduce a new orientation type such as `square`?

[2018-05-08 07:30] xfq commented on #100
What about replacing "document" with "device"?

[2018-05-08 08:05] xfq commented on #105
IMHO it should be UA-defined. Different platforms might handle cases like this differently.

[2018-05-08 08:50] xfq commented on #113
Do you mean that the "primary" in `OrientationType` and in `OrientationLockType` has different meanings?

[2018-05-09 10:46] mounirlamouri commented on #113
No, they don't. What makes you think they do?

[2018-05-09 10:49] mounirlamouri commented on #99
At the moment, I would suggest to keep this UA specific. Chrome would most likely do what's mentioned above and each orientation would have a different angle. What would `square` do?

[2018-05-09 10:50] #79 closed, assigned to nobody

[2018-05-09 11:43] xfq commented on #113
Because in https://github.com/w3c/screen-orientation/issues/113#issuecomment-361950969 you mentioned "One of the two primary" and "The other primary"...

What are the two "primaries" here? Could you please clarify? Thanks.

[2018-05-09 11:57] mounirlamouri commented on #113
`landscape-primary` and `portrait-primary`. One *has* to be `natural`.

[2018-05-09 13:10] xfq commented on #99
Looks good to me.

Initially I thought it would be the value returned by `screen.orientation.type` when the screen width is equal to the screen height, but now I find it will not solve this issue at all...

[2018-05-09 13:11] xfq commented on #99
So can this issue be closed now?

[2018-05-09 14:36] alexshalamov commented on #99
@xfq If specification would leave decision for mapping between screen ratio and orientation type (requires algorithm change) to the UA, then this issue can be closed.

At the moment, normative [section of the spec](https://w3c.github.io/screen-orientation/#reading-the-screen-orientation) defines how orientation type is inferred from the rendering surface ratio, and the algorithm is not sufficient

[2018-05-09 14:40] xfq commented on #113
I see. What about adding some description like the following?

[code]

(The images are in https://github.com/xfq/testing/tree/master/screen-orientation/images currently.)

Note that I didn't include the `landscape-*` counterparts in the example. IMHO these four images have already explained the basic idea. WDYT, @mounirlamouri?

[2018-05-09 23:06] xfq commented on #99
@alexshalamov IIUC you're referring to the following sentence:

Do you mean we should to extract the "or equal to the screen height" part to a new step, and say the current orientation type can be `landscape-primary`, `landscape-secondary`, `portrait-primary`, or `portrait-secondary`, depending on the user agent?

[2018-05-18 10:35] alexshalamov commented on #99
@xfq In cases when width == height, orientation type would be always portrait-primary or portrait-secondary, therefore, according to:

When user starts rotating device and orientation of the rendering surface changes, there would be cases when actual angle of the document would be not in sync with angle that is mapped to the orientation type.

[2018-05-18 14:42] mounirlamouri commented on #99
Practically, are there devices that have rotating angles?

[2018-05-18 16:10] alexshalamov commented on #99
@mounirlamouri Sorry, I didn't understand the question. Most of the platforms provide data about rotation of a display (rendering area) in relation to natural (physical) orientation.

[2018-05-29 13:34] mounirlamouri commented on #99
What I meant is whether there are devices where the actual rotation angle can be say 15 degrees?

[2018-05-29 17:53] alexshalamov commented on #99
I'm not aware of platforms where WM would provide angles that are not multiples of 90°

[2018-06-16 02:55] xfq commented on #100
@mounirlamouri WDYT?

[2018-06-22 16:07] mounirlamouri commented on #100
In these places, the document is taken from the browsing context. IIRC, the spec meant to associate some data with a document. I do not think that switching to device is the right change. Maybe we can make it clearer that the "current orientation angle" is an information associated to a document.

[2018-08-15 08:25] xfq opened #119 "Test coverage"
To get to/through CR, we need to have a test suite. This issue tracks the test coverage of the spec.

- [x] [`Screen.orientation`](https://github.com/web-platform-tests/wpt/blob/master/screen-orientation/idlharness.window.js)
- [x] `Screen.orientation.lock()`
- [ ] `Screen.orientation.unlock()`
- [x] [`Screen.orientation.type`](https://github.com/web-platform-tests/wpt/blob/master/screen-orientati

[2018-08-15 08:25] xfq commented on #95
Tracking test coverage in #119.

[2018-08-16 01:17] #81 closed, assigned to nobody

[2018-08-16 01:21] marcoscaceres commented on #119
We have [WPT](https://github.com/web-platform-tests/wpt/tree/master/screen-orientation) - but need to go through them and match them to the above.

The interface is tested also: https://github.com/web-platform-tests/wpt/blob/master/interfaces/screen-orientation.idl

What's more useful is to see if the algorithms have been well tested. I believe they have been, but one of us has to sit down and run

[2018-08-16 01:21] marcoscaceres commented on #119
(we also need to produce a the report)

[2018-08-16 01:22] marcoscaceres commented on #119
Could we update the checklist above to include the algorithms?

[2018-08-16 03:31] xfq commented on #119
We have:

* [Update the orientation information](https://w3c.github.io/screen-orientation/#dfn-update-the-orientation-information)
* [Apply an orientation lock](https://w3c.github.io/screen-orientation/#dfn-apply-an-orientation-lock)
* [Lock the orientation](https://w3c.github.io/screen-orientation/#dfn-lock-the-orientation)
* [Determine the active orientation lock](https://w3c.github.io/screen-or

[2018-08-16 04:03] marcoscaceres commented on #119
That looks like all of them. Moved them to the top. @xfq, Mounir and I are planning to get together during TPAC to try to finish off the spec.

[2018-08-16 04:13] xfq commented on #119
Thank you!

[2018-09-21 15:16] kenchris opened #120 "Send events before promise resolve"
An annoyance with the orientation lock API, is that the promise resolves before the event is sent.

This makes it hard to default handlers that you don't want to call in certain cases, because if you remove the handler then there is no good place to add it back in, because if you do after the promise gets resolves, it might get called as the event is still pending :-(

This also means that it make

[2018-10-12 02:16] #96 closed, assigned to nobody

[2018-10-12 02:17] xfq commented on #96
Fixed in #115 and #121.

[2018-10-14 18:36] Johanna-hub commented on #100
I can try to clarify this point in the spec if that is helpful

[2018-11-13 12:59] r4-2017 opened #123 "cordova-plugin-screen-orientation does not work"
I need help from someone! I try use the plugin above with code:
[code]
So, I receive message saying: "yes, it was blocked' but the screen is not locked. Help me.
PS: SO   is Android
Cordova/Phonegap 8.0
Using phonegap serve command for provider server of application

[2018-11-14 02:31] Honry commented on #123
`screen.orientation.lock()` is a Promise, which will always return a Promise object, i.e. it will be always `true` in your `if` condition.
You should use `Promise.then()....catch()` instead of `try..catch`, or `async/await` with `try...catch`.

[2018-11-14 04:38] marcoscaceres commented on #123
So, as @Honry said, using async/await:

[code]

[2018-11-14 05:04] Honry commented on #123
@marcoscaceres, the `lock` promise will resolve with `undefined`, and actually we don't need `if...else` at all.
[code]
@r4-2017, you can use the [`onchange`](https://w3c.github.io/screen-orientation/#dom-screenorientation-onchange) event handler to monitor actual orientation change.

[2018-11-14 05:05] marcoscaceres commented on #123
heh, yeah... I should have checked that :) It's been a while. Would be cool to maybe add something like this to the spec.

[2018-12-12 12:43] Johanna-hub commented on #113
@xfq I think this description and table is great, I have made some suggested edits to first paragraph  to make it clearer - what do you think?
Also the images are really useful, but I think portrait-secondary-2 should be flipped the opposite way to portrait-secondary-1 (at the moment they are the same image).
Is it worth writing in the table the natural orientation of the pictured device?
I am tor

[2018-12-12 21:29] Johanna-hub commented on #123
@marcoscaceres Could this go into Section 6. Examples?

[2018-12-13 01:40] marcoscaceres commented on #123
yeah, it could. But we'd want to get rid of the alerts and do `console.log();` instead... and check it actually works.

[2018-12-18 06:51] marcoscaceres commented on #113
I'd suggest sending a pull request with the suggestions above. We can then evaluate them inline in the spec.

[2019-01-09 10:27] #113 closed, assigned to nobody

[2019-01-22 11:49] Johanna-hub opened #136 "Clarification on animation frame task"
Currently in the spec we have:

According to the fullscreen issue referenced above the timing is now defined and the issue has been closed.

@foolip Would you please be able to clarify what this means for the definition in the Screen Orientation spec and also where animation frame task appears in the algorithms:

Thank you very much for your help 🙂

[2019-01-23 07:20] marcoscaceres commented on #123
@Johanna-hub given the example rewrite, could you check if the current examples cover this case? If you think it's covered, feel free to close this.

[2019-01-23 15:20] marcoscaceres commented on #82
This issue is a bit meh. Closing.

[2019-01-23 15:22] marcoscaceres commented on #136
Potential duplicate of https://github.com/w3c/screen-orientation/issues/97

[2019-01-24 13:46] foolip commented on #136
The way to integrate with the event loop that we ultimately landed on is https://fullscreen.spec.whatwg.org/#run-the-fullscreen-steps. There is a step in https://html.spec.whatwg.org/multipage/webappapis.html#update-the-rendering that calls out to HTML.

This does mean that HTML needs to know about all the specs that integrate with it, which is arguably backwards layering-wise, but the upside is t

[2019-01-27 01:38] marcoscaceres commented on #104
@mounirlamouri I’ve been going over the spec with @Johanna-hub and, given unlocking is “lock to the default” (even if there is no actual orientation change) I am starting to be convinced that returning a promise is actually the right thing to do here: if there is no actual change, we just return a resolved promise. Otherwise, wait for orientation change and we resolve the default promise.

WDTY?

[2019-01-27 01:41] marcoscaceres commented on #120
I think this makes sense. Essentially, we need to queue a task to first dispatch, then resolve.

[2019-01-28 10:41] Johanna-hub opened #143 "Clarification regarding locking the screen orientation"
In the section regarding locking the screen orientation, the spec currently state:

@mounirlamouri I was hoping you could please clarify this statement for us.  Does this really mean that the screen must be able to be locked to all of the following: `any, natural, landscape, portrait, portrait-primary, portrait-secondary, landscape-primary, landscape-secondary? `

[2019-01-28 16:48] mounirlamouri commented on #143
It's been a while so I will mostly try to guess what I meant and why. For what I can tell, I think your description is correct: all types must be supported or none. My interpretation is that this was added to avoid pages locking to `landscape` and having to guess whether it worked out or not. If this is a problem, we could always add text to have the method reject.

[2019-01-28 16:55] mounirlamouri commented on #104
It's been a few years but I would look into whether an implementation of this would be reliable on Android and iOS. On Android, unlock will get the app to ask the system to go back to its default orientation which the app doesn't know off hand. We should check whether this is easy to check but either way, there would be some reverse engineering of the Android system code to do in the UA which does

[2019-01-28 18:21] jjmax75 commented on #104
Hi guys, I opened this a while back when I was working at another company.

As I recall the promise approach would have been nice as it matched up with the lock() method but I'm not sure anymore about that.

My case was definitely an edge case at the time but would have been nice not to use the setTimeout hack :D

[2019-01-29 00:29] marcoscaceres commented on #104
Thanks @jjmax75 for following up. It's come up again in a [different issue](https://github.com/w3c/screen-orientation/issues/120) - hi @kenchris! could use your input here too.

Agree - we definitely don't want to go around poking at system code. However, we should check if since we first spec'ed this if the APIs have changed to provide a call back?

@Johanna-hub, could you please research "Handli

[2019-01-29 10:13] marcoscaceres commented on #82
This is still bugging me. Reopening.

[2019-01-29 12:58] Johanna-hub commented on #143
@mounirlamouri Great, thank you so much for the explanation 🙂

[2019-01-29 12:59] Johanna-hub commented on #136
@foolip Thanks so much

[2019-01-29 13:39] kenchris commented on #104
I would really like these to return promises if possible - it is really brittle integrating this with fullscreen today.

cc @dominickng

[2019-01-30 06:09] marcoscaceres commented on #104
I wonder if we have any visibility into the implementation of this in Chrome on Android? I'm guessing not. I'd be really interested to see how `setRequestedOrientation` (or something else?) is being called specially for locking and unlocking.

[2019-01-30 06:29] dominickng commented on #104
The Chrome on Android implementation looks like it's [here](https://cs.chromium.org/chromium/src/content/public/android/java/src/org/chromium/content/browser/ScreenOrientationProviderImpl.java?type=cs&q=content/public/android/java/src/org/chromium/content/browser/ScreenOrientationProviderImpl.java&sq=package:chromium&g=0&l=92)

It looks to me like there's a separate call that happens when restorin

[2019-01-30 07:00] marcoscaceres commented on #104
Gecko's one is here:
https://searchfox.org/mozilla-central/source/mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoScreenOrientation.java#258

Looking at `unlock()`, it's basically identical to `lock()` - which includes a confirmation of actual unlocking. So seem totally feasible to return the promise. I've emailed there person who implemented it  at Mozilla to get confirmation.

[2019-01-30 11:06] marcoscaceres commented on #104
@Johanna-hub and I went poking around the DOM implementation... basically `unlock()` calls into our HAL (hardware abstraction layer):
https://searchfox.org/mozilla-central/source/hal/Hal.h#244

And for whatever reason (probably the reason @mounirlamouri gave :)), the Hal definition of `unlock()` is fire and forget (no return value):

[code]

This doesn't seem to align with the Java side tho... whi

[2019-02-01 03:00] marcoscaceres opened #145 "Clarify how to initialize the screen orientation"
The current spec is a bit hand-wavy about how to initialize the orientation values. For good reason, it says that the UA can wait until they are first accessed. However, this is an optimization.

What would be nice is if there was some means to hook into HTML's document creation process (I imagine there is such a thing) and make the spec hook into that. A UA can do something different, but in spec

[2019-02-01 03:41] marcoscaceres opened #146 "The responsible document"
I think we need to make it clear that orientation stuff applies exclusively to the "responsible document", and not to any document.

I think https://github.com/w3c/screen-orientation/issues/100 is related to this.

[2019-02-04 10:06] marcoscaceres commented on #102
Things are progressing smoothly again thanks to @Johanna-hub, so closing. Still hoping we will be CR ready by mid March.

[2019-02-04 10:06] #102 closed, assigned to nobody

[2019-02-05 13:24] Johanna-hub commented on #123
Yes, this is now covered by example 1.

[2019-02-05 13:24] #123 closed, assigned to Johanna-hub

[2019-02-06 20:45] #82 closed, assigned to Johanna-hub

[2019-02-07 11:33] Johanna-hub opened #150 "Definition of default orientation"
Currently default orientation is defined with the following:

[code]
It would be great to get some clarification on why default orientation is a set?  From looking at the android docs it looks like the system decides on one orientation if none is specified.

@mounirlamouri Could you please explain this further?

Relates to https://github.com/w3c/screen-orientation/issues/104

[2019-02-07 16:24] mounirlamouri commented on #150
The default orientation is indeed system-specific. For example, on most Android phones, the default orientation is landscape + portrait-primary (IIRC) but it can be changed to be portrait-primary only. We could expose this information in the API but at the time we didn't want to. FWIW, Chrome's media controls use this information (if portrait-primary only) so it may make sense to expose this to th

[2019-02-12 12:07] #120 closed, assigned to Johanna-hub

[2019-02-13 08:04] marcoscaceres opened #151 "Doublecheck lock(), event, re/unlock() behaviors"
Given the updated event model in the spec, we need to check the following:

[code]

And what happens if:

[code]

Need to confirm in the spec steps.... we should add tests for this too.

[2019-02-17 22:15] Johanna-hub commented on #150
I think this could make sense because at the moment the definition is a bit vague, but exposing the information would make it very useful.

@marcoscaceres What do you think?

[2019-02-19 06:23] marcoscaceres commented on #150
If we can get the defaults from the OS, and assuming they don't change, it could be good to expose them.  However, exposing these does add to device fingerprinting ... as the array's values will be device specific (though not particularly varied from one device to another).

@mounirlamouri, how do you use the defaults in the media controls? (looking for the use case, basically).

[2019-02-28 09:50] marcoscaceres opened #162 "Deprecate angle?"
@Johanna-hub has been doing some testing and we are seeing unreliable result with `angle`... I wonder if angle is just going to turn into another "device orientation" disaster where different browsers on different devices (or even the same devices) end up reporting different things for the angle? Also, is there any value or use case for the angle? What would people use it for? (they can use gyrosc

[2019-02-28 10:22] Johanna-hub commented on #162
I have been testing that the primary and secondary orientations and associated angles match with different results on Firefox and Chrome.  The web platform test is here https://github.com/web-platform-tests/wpt/pull/15429

I have been testing on my phone.  The test checks that portrait-secondary angle is 180, that landscape-primary is either 90 or 270 and landscape-secondary is the angle left over

[2019-02-28 18:15] mounirlamouri commented on #162
The main use cases of angles is to be used when doing some computation for rendering IIRC.

[2019-02-28 21:51] marcoscaceres commented on #162
@kenchris would appreciate any thoughts you have here... specially in light of the gyro API and from a rendering perspective? I can’t think of anything personally.

[2019-03-01 11:27] Johanna-hub commented on #162
Orientation/angle tests now merged and here https://github.com/web-platform-tests/wpt/blob/4950b69ed6774f1b97c41a5daddf7bfa2327372e/screen-orientation/orientation-reading.html#L25

Now that they have been merged and I can run on my phone, Firefox is consistently passing and Chrome is failing

[2019-03-04 12:09] Johanna-hub commented on #87
We are currently looking at how to test the Active orientation lock algorithm and have two questions, that it would be great to have some clarification on, (we have looked at Fullscreen spec and unable to find the answers there either).  @foolip would you be able to provide any information?

Does the Fullscreen API exit full screen if the document is navigated to another origin?
Does the Fullscree

[2019-03-04 14:23] marcoscaceres commented on #87
(Conversely, how does the Fullscreen API hook into HTML’s navigatation algorithm to “fully exit fullscreen”; and how does Fullscreen prevent “fully exit fullscreen” on fragment navigation? - we were unable to aswer these questions by reading both HTML and the Fullscreen specs. Any guidance would be greatly appreciated.)

[2019-03-11 03:42] marcoscaceres opened #168 "Face up and face down"
iOS supports face up and face down events:

<img width="594" alt="Screenshot 2019-03-10 20 33 06" src="https://user-images.githubusercontent.com/870154/54098891-c19b6f00-4373-11e9-9eb1-58e6560e46da.png">

Which makes for some interesting use cases: yesterday I played a game at a bar with friends where one person holds the phone on their forehead with a trivia answer -  the other players then shout

[2019-03-12 06:00] marcoscaceres commented on #162
CC'ing @anssiko also... as current editor of Gyro spec... might have a good perspective to share here. Core question: maybe we can deprecate `angle` on this API in light of Gyro spec?

[2019-03-12 09:33] anssiko commented on #162
What are the key use cases for `angle`? Computation for rendering is a bit vague.

Depending on the use cases, [`OrientationSensor`](https://w3c.github.io/orientation-sensor/) might be able to help. Nudging my esteemed co-editor @kenchris.

That spec uses the [reference frame](https://w3c.github.io/accelerometer/#reference-frame) concept that provides web developers a knob to define whether the lo

[2019-03-12 09:49] marcoscaceres commented on #162
`OrientationSensor` sounds event better, specially given the reference frame.

[2019-03-12 10:27] marcoscaceres commented on #168
Video of it here https://www.youtube.com/watch?v=PO_ezpX7DwY

[2019-03-14 08:10] marcoscaceres opened #173 "unlocking during event dispatching is undefined"
Consider:

[code]

Presumedly, calling `unlock()` during `onchange`  would cause the [[orientationPendingPromise]] to reject.

[2019-03-14 11:04] marcoscaceres commented on #87
We have a test for this https://github.com/web-platform-tests/wpt/pull/15705/ at least.

[2019-03-14 11:23] foolip commented on #87
@Johanna-hub

Yes, the hook for this is "unloading document cleanup steps" in https://fullscreen.spec.whatwg.org/#fully-exit-fullscreen. So it will also happen for same-origin navigation.

I haven't followed all the steps, but I assume that "unloading document cleanup steps" isn't run in this case.

Would using that same hook work for you?

[2019-03-14 11:48] Johanna-hub commented on #173
The test is here https://github.com/web-platform-tests/wpt/pull/15834

[2019-06-26 19:10] toddreifsteck opened #179 "Page visibility transition can fire when false/true/false happens within a frame"
Due to how the Page Visibility transition portion of https://www.w3.org/TR/screen-orientation/#Screen-orientation-change is written, if a transition from NOT VISIBLE to VISIBLE to NOT VISIBLE happens within a frame, the processing model will currently deliver an event.

I advise adding a new step 1 which exits if the page visibility is NOT VISIBLE.

[2019-06-27 05:12] marcoscaceres commented on #179
@toddreifsteck can you help me integrate with https://github.com/w3c/page-visibility/pull/50 ? That will give us the hooks for "visible" and "hidden". Would appreciate a pull request on this spec once that lands to fix the issue you describe above.

[2019-06-27 05:55] toddreifsteck commented on #179
Slammed for next few days. Assigning this to myself for TODO next week.

[2019-06-27 05:57] marcoscaceres commented on #179
Understood. I'm the same. We got time tho :) If I get time, I'll try to slap something together and ping you.

[2019-07-22 03:40] marcoscaceres commented on #104
Gecko bug... seeing if it's doable as we suspect this causing intermittent failures because of the interaction with exit fullscreen: https://bugzilla.mozilla.org/show_bug.cgi?id=1567805

[2019-07-22 03:50] marcoscaceres opened #181 "Privacy notes are overly dismissive"
In Gecko, we "resist fingerprinting" when:

 * getting the type,
 * getting the angle.
 * orientation changes.

We should make it clear in the privacy section that user agents are free to lie, and just return default values (just 0 for angle  and "landscape-primary"  for type).

[2019-07-22 19:47] mounirlamouri commented on #104
How would you get confirmation from unlocking?

[2019-07-22 20:48] marcoscaceres commented on #104
I think it might be sufficient to just IPC over to Android and do the call to `setRequestedOrientation()` and then resolve the promise in the task that’s doing the request. Even if it doesn’t change, it should prevent the race condition with `.exitFullScreen()`.

So, we would just return the promise here, instead of dropping it on the floor:
https://github.com/mozilla/gecko-dev/blob/master/dom/bas

[2019-08-01 23:11] mounirlamouri opened #184 "lock() should not fail if another lock() is called in the change event"
Technically the spec requires that but it is a really unexpected behaviour given that the orientation at that point will have succeeded and we shouldn't pretend that it failed because another `lock()` was called when the page should be notified.

I think the steps in [7.5](https://www.w3.org/TR/screen-orientation/#Screen-orientation-change) should be changed so that we copy the promise and clear t

[2019-08-02 05:09] marcoscaceres commented on #184
Hmm... so this was https://github.com/w3c/screen-orientation/issues/120

Copying the promise to special case this doesn't feel right to me. If the caller has a reference to the original promise, then I wonder if they can just await it?:

[code]

[2019-08-09 20:28] mounirlamouri commented on #184
I'm not saying that we should special case this but as the spec is written, we are told to reject a promise for which the action was succeeded because we run the event handler of the action succeeding before we resolve the promise. It's a fairly common situation in CS to make copies of objects to avoid re-entrency and it's a fairly similar problem IMO: running the event callbacks will change the s

[2019-08-21 09:36] LJWatson opened #185 "Specification status report for TPAC 2019"
Please can you respond to this comment with a brief specifications status report for the WebApps meeting at TPAC. The report should address the following:
* What progress has your spec made in the last 12 months?
* Is anything blocking your spec from moving to CR?
* If yes, what is your plan to unblock it and do you need any help?
* What do you want to achieve for your spec in the next two days (o

[2019-08-23 10:30] DongHyunSong opened #186 "Rotate progress event"
I'm just an observer of your project. :)
Be supposed that there is a device, which rotates its screen relatively slow like as TV (Samsung TV Sero)
I think that rotate progress events is very helpful for the web application.
Like as screen.addEventListener("rotate-progress", function(degree) {});

[2019-08-23 12:34] marcoscaceres commented on #186
Could you help us understand what you would like to do with the events?

[2019-08-26 06:19] DongHyunSong commented on #186
If the application can know its window starts/end to rotate, it can prepare new contents (like portrait fitted video) in advance.
Of course, this is useful that in case screen rotating happens slowly with large display.

[2019-08-26 06:25] marcoscaceres commented on #186
generally, that would be dealt with by a combination of `CSS` (e.g., orientation: "portrait") and `onorientationchange`, but interpolation of orientation is left to the OS. I don't think it's possible to report the actual angle as the orientation is changing.

[2019-08-29 10:53] DongHyunSong commented on #186
TV side is finding the useful usage of handling rotating progress.
I believe it maybe good factor for fine polishing of web contents in TV side :)

[2019-08-30 03:05] marcoscaceres commented on #186
Sure, but the problem is that we can't implement the across all platforms (i.e., I don't think there is a way of doing this in Android or iOS). The OS doesn't tell you this information, it only tells you that the orientation has changed - also, note that orientation changes are not a thing... the screen is just changing width and height, and the angle represents the angle relative to the natural o

[2019-08-30 03:05] #186 closed, assigned to nobody

[2019-09-03 08:03] marcoscaceres commented on #146
Closing as done.

[2019-09-03 08:03] #146 closed, assigned to nobody

[2019-09-03 08:05] marcoscaceres commented on #100
The spec now directly works on either internal slots associated with a particular "responsible document" object, so I think this has been addressed. In Gecko, we match the spec precisely as specified.

[2019-09-03 08:05] #100 closed, assigned to nobody

[2019-09-08 02:54] marcoscaceres commented on #77
Sent PR https://github.com/w3c/page-visibility/pull/54 ... might need a few more things, but need to check.

[2019-09-08 03:07] marcoscaceres commented on #184
Let's discuss at TPAC. CC @kenchris should probably be there because #120.

[2019-09-08 03:18] marcoscaceres commented on #143
closing as answered.

[2019-09-08 03:18] #143 closed, assigned to nobody

[2019-09-08 03:23] marcoscaceres commented on #151
Possibly related to #184

[2019-09-08 03:31] marcoscaceres commented on #185
* overhauled much of the spec to clarify various algorithm and examples - thanks to @Johanna-hub.
 * added a significant number of [web platform tests](https://w3c-test.org/screen-orientation/), and linked to within the spec - again, thanks to @Johanna-hub. However, we still need to go through #119 and check what's missing.

Bugs and things that need discussion:

 * lock() should not fail if anoth

[2019-10-09 03:47] marcoscaceres commented on #185
Closing as answered.

[2019-10-09 03:47] #185 closed, assigned to mounirlamouri, marcoscaceres

[2019-10-18 22:55] smfr opened #187 ""locking" to the default orienation"
I find it really confusing that "unlocking" the document locks it to the default orientation. I think it would the clearer to have two states: "locked" and "unlocked". When "locked", rotating the physical device will only allow orientation changes between the list of orientation supplied to lock().

Conceptually in the spec there is always a "locked" state, which consists of a set of allowed orien

[2019-10-18 23:00] smfr commented on #187
I guess I'm OK with this, but still find it awkward.

[2019-10-18 23:00] #187 closed, assigned to nobody

[2019-10-18 23:02] smfr opened #188 "Should the -secondary orientations be exposed?"
Are there any use cases for locking to the upside-down (portrait-secondary, landscape-secondary) orientations? Generally people would only care about landscape and portrait, and would want the device to choose the closest one to rotate to.

[2019-10-18 23:11] smfr commented on #188
In addition, exposing portrait-secondary and landscape-secondary orientation types are an additional bit of fingerprinting data over screen height and width.

[2019-11-18 05:58] marcoscaceres commented on #188
We did have use cases of this in games and apps... but I can't for the life of me remember what we did with the use cases :( I'm trying to recall if there was any valid use case for "*-secondary", but I'm also coming up empty.

@mounirlamouri can you think of anything? I might be worth revising.

[2019-11-18 06:05] smfr commented on #188
Another problem with the secondary orientations is that the author probably doesn't have enough information about the device to know where the physical buttons, cameras etc are, and a specific orientation that works on one kind of device may be bad for another.

[2019-11-18 18:34] mounirlamouri commented on #188
Can you detail what's the fingerprinting problem with exposing secondary types?

[2019-11-18 18:52] smfr commented on #188
You can detect people who always hold their device upside-down (some people do this).

[2019-11-18 19:15] mounirlamouri commented on #188
WebKit introduced `window.orientation` which already exposes that information. Unless browsers are planning to deprecate this property?

[2019-11-19 03:30] marcoscaceres commented on #188
On MDN, at least, `window.orientation` is marked as deprecated.

@othermaciej might have some insights on the future of `window.orientation` in [Safari on iOS](https://developer.mozilla.org/en-US/docs/Web/API/Window/orientation)?

Seems it's also supported on Samsung Internet... @torgo, is that something you would consider deprecating from Samsung Internet?

With regards to dropping  "*-secondary"

[2019-11-19 17:39] mounirlamouri commented on #188
`window.orientation` is deprecated but even if we could remove it (I would doubt it, it's used widely), `screen.orientation.angle` exposes the same information.

Secondary types are meant to lock the screen orientation, not to detect it. The read part is just better than the angle as it provides more semantic information but nothing that can't be guessed from just reading the angle.

[2019-11-19 19:58] marcoscaceres commented on #188
I think it’s WebKit’s call, right? Chrome and Firefox don’t ship it.

True, but that one is also highly unreliable iirc from our testing. Different devices report the opposite of what one would expect.

[2019-11-19 20:18] mounirlamouri commented on #188
It's implemented in Blink and I think Mozilla implemented it too. Basically, it has a full browser support.

Why would that be? We didn't get that kind of feedback for Chrome.

[2019-11-20 06:50] marcoscaceres commented on #188
found it... MDN is wrong and you are right. Android only:

[code]

I think Johanna had found it to be unreliable - but I guess you would have had more people yelling about it.

[2019-11-20 06:55] marcoscaceres commented on #188
Ok, looks like it's here to stay - with the control that @mounirlamouri points to. As you can only set it, that mitigates the finger printing concern (even though it's potentially kinda useless in practice).

[2020-01-21 05:31] janiceshiu opened #192 "Browsing contexts do not have a document"
Perhaps the spec meant to say `active document`?

Discovered when discussing HTML spec's `list of the descendant browsing contexts`. Please see this [HTML spec PR](https://github.com/whatwg/html/pull/5194) for more context.

Thanks for your help in identifying the bug, @marcoscaceres!

[2020-01-21 05:33] janiceshiu opened #193 "Nested browsing contexts cannot be accessed `in parallel`"
Nested browsing contexts cannot be accessed "in parallel"

Discovered when discussing HTML spec's `list of the descendant browsing contexts`. Please see this [HTML spec PR](https://github.com/whatwg/html/pull/5194) for more context.

Thanks for your help in identifying the bug, @marcoscaceres!

[2020-03-06 06:45] marcoscaceres opened #194 "Add internationalization considerations section"
There may or may not be any internationalization concerns with the spec, but we should make sure to have an "Internationalization Considerations" section stating that we've taken i18n into consideration. Of course, if there are things that should be considered, we should add them there :)

We will also ask the i18n WG to review the spec to see if they have any feedback for us.

This is part of w3c

[2020-04-09 09:31] LJWatson opened #196 "Add accessibility section"
In the [WebApps charter](https://www.w3.org/2019/05/webapps-charter.html#scope) it says:

To this end each spec needs to have an accessibility section. For the avoidance of doubt in the reader, the section should be included even if it indicates there are no known accessibility considerations.

Relates to w3c/webappswg#15

[2020-04-21 17:09] smacleod opened #198 "Apply an orientation lock rejects its own newly created promise"
In `7.2.3`:

Then in `7.2.4.2`:

Since doc's browsing context is a descendant of the top-level browsing context's document, doc's browsing context will itself be in _browsing contexts_.

Then in `7.2.4.2`:

which will be `true`, since it was set in `7.2.3`, so we have to do `7.2.4.2.2`:

Since this is done in parallel with the `7.2.4.5` "Lock the orientation of the document to orientations." if it

[2020-06-19 06:58] LJWatson opened #199 "TPAC planning and specification status report"
TPAC will be virtual this year. W3C is finalising the details but it is likely there will be events for the whole W3C community during the week of 26 to 31 October (as originally planned), with WG able to organise their own meetings in/around that week.

There are two things we need you to do:
1. Let @marcoscaceres  and I know before 17 July if you want meeting time to talk about your specificatio

[2020-10-19 06:20] marcoscaceres commented on #199
## What progress has your spec made in the last 12 months?

No normative changes.

## Is anything blocking your spec from moving to CR?

Editors have not found time to finish off last remaining bugs.

## If yes, what is your plan to unblock it and do you need any help?

We may need to see if we can get some additional help finishing this spec, as it's very close to being done.

[2021-03-04 07:45] LJWatson opened #201 "Complete self-reviews"
We'd like to take the spec to CR. This means sending it out for wide and horizontal review, and before then we need to:

* [x] Complete an [i18n self-review](https://w3c.github.io/i18n-drafts/techniques/shortchecklist)
* [x] Complete a [privacy and security self-review](https://www.w3.org/TR/security-privacy-questionnaire/)

If these self-reviews have been completed in the last few months, point m

[2021-08-25 07:50] LJWatson opened #204 "Status report and planning for TPAC 2021"
[TPAC](https://www.w3.org/2021/10/TPAC/#schedule) will be virtual again this year. There will be a WebApps WG meeting at some point between 24 and 29 October.

There are two things we need you to do in the meantime:
1. Let @marcoscaceres  and I know before 17 September if you plan to hold a specification specific meeting (in addition to the general WebApps WG meeting)
2. Post a specification statu

[2021-09-03 17:11] weyyserabut commented on #204
close please

[2021-10-15 17:45] noamr opened #205 "Heads up: refs to `pagevisibility` (external now visibile) about to be removed"
See https://github.com/w3c/page-visibility/pull/73
Most of the page visibility spec is moving into the HTML Spec (see https://github.com/whatwg/html/pull/7153), and calls are to be made explicitly instead of the "hook" (`external-now-visible-algorithm`).

Since this spec appears to rely on this ref, opening this issue to track switching to being called directly.

[2021-10-25 03:36] #199 closed, assigned to nobody

[2021-10-25 03:36] marcoscaceres commented on #204
## What progress has your spec made in the last 12 months?

No normative changes.

## Is anything blocking your spec from moving to CR?

We lost an editor, and the other (me) has not found time to finish off last remaining bugs.

## If yes, what is your plan to unblock it and do you need any help?

We may need to see if we can get some additional help finishing this spec, as it's very close to bei

[2021-10-25 04:50] marcoscaceres commented on #196
closing, as a section is included:
https://w3c.github.io/screen-orientation/#interaction-with-web-content-accessibility-guidelines

[2021-10-25 04:50] #196 closed, assigned to nobody

[2021-11-03 16:40] noamr commented on #205
https://html.spec.whatwg.org/#page-visibility-change-steps

[2021-11-11 21:49] saschanaz commented on #205
That PR https://github.com/w3c/page-visibility/pull/73 is closed without merging, why is that?

[2021-11-12 06:32] noamr commented on #205
Oops, will add a comment. See [this](https://github.com/w3c/browser-specs/pull/425) and [this](https://github.com/whatwg/html/pull/7238).

PageVisibility has been folded into HTML, and there is a [specific place](https://html.spec.whatwg.org/#page-visibility-change-steps) in the HTML spec to notify other specs of the visibility state change.

[2022-01-31 04:33] makotokato opened #206 "Add can-lock-orientation media feature to detect if locking is possible"
(If this is already discussed, please close this)

When I look this spec, I cannot find feature detection section.  Even If `orientation.lock` isn't supported, Blink and Gecko have this method in `orientation`. Then when calling it, [NotSupportedError](https://w3c.github.io/screen-orientation/#apply-an-orientation-lock) is throw if browser doesn't support it.

For feature detection of `orientation

[2022-01-31 07:14] tomayac commented on #206
[`Window.orientation`](https://developer.mozilla.org/en-US/docs/Web/API/Window/orientation) is deprecated. You should instead use [`Screen.orientation`](https://developer.mozilla.org/en-US/docs/Web/API/Screen/orientation), which you can properly feature-detect via the snippet below:

[code]

[2022-01-31 07:24] makotokato commented on #206
Cannot. Blink and Gecko implement window.screen.orientation object
even if Desktop version that is "lock" is unsupported, so it doesn't
work.

-- Makoto

2022年1月31日(月) 16:14 Thomas Steiner ***@***.***>:

[2022-01-31 07:26] tomayac commented on #206
Sorry, yes, I realized this as well, which is why I deleted the comment. I guess it really boils down to `try..catch`ing.

[2022-03-15 14:45] miketaylr opened #207 "Replace usage of "responsible document""
Migration guidance at https://github.com/whatwg/html/pull/7694

[2022-07-25 06:36] LJWatson opened #208 "TPAC 2022 status report"
[TPAC 2022 ](https://www.w3.org/2022/09/TPAC/) is hybrid this year. WebApps will meet in Vancouver on [12 and 13 September](https://www.w3.org/calendar/tpac2022/). Please [register](https://www.w3.org/2022/09/TPAC/registration.html) if you plan to attend in person or remotely.

Editors, we need you to do two things before 30 August 2022:

1. If you want agenda time to discuss your spec(s), please

[2022-10-05 05:23] marcoscaceres commented on #77
Closing as Page Visibility spec is not a thing anymore...

[2022-10-05 05:23] #77 closed, assigned to nobody

[2022-10-05 05:39] marcoscaceres commented on #208
Work is underway to support this spec in WebKit. I expect that we will find issues while implementing in WebKit, but hopefully as part of that we should be able to finalize the spec.

[2022-10-05 05:39] #208 closed, assigned to nobody

[2022-10-05 05:54] #204 closed, assigned to nobody

[2022-10-05 06:34] marcoscaceres commented on #207
Fixed via https://github.com/w3c/screen-orientation/commit/367e386bf365b0f660ff24c3afce2775817a6df3

[2022-10-05 06:34] #207 closed, assigned to nobody

[2022-10-07 05:52] marcoscaceres commented on #150
Rethinking this, the "set" should go away, as unlocking just leaves it to the UA/OS to handle the orientations (whatever those may be).

[2022-10-07 06:02] marcoscaceres commented on #194
Closing, as any i18n concerns should be normatively addressed instead.

[2022-10-07 06:02] #194 closed, assigned to nobody

[2022-10-07 06:15] marcoscaceres commented on #104
Actually, reflecting on this, I think we need to tie the two APIs together.

You can't use this API without full screen, and exiting full screen should automatically unlock.

I'll spin up a new issue.

[2022-10-07 06:18] marcoscaceres opened #209 "Specify .lock() / .unlock() dependency on fullscreen API"
It's currently not possible to use this API without first requesting fullscreen across all user agents, so we should just codify this in the spec.

The advantage would be to allow fullscreen API to unlock the screen automatically when full screen is lost.

[2022-10-07 06:19] marcoscaceres commented on #104
filed https://github.com/w3c/screen-orientation/issues/209

[2022-10-07 06:22] marcoscaceres commented on #206
The only way to allow this would be to add a new method. However, this may never succeed for a variety of reasons. For example, the user may prevent the screen from being rotated for accessibility reasons. Then, privacy, we wouldn't want to reveal that fact about the user.

I think we should also consider gating this API on a user gesture, but it's a separate issue.

[2022-10-07 07:05] marcoscaceres opened #210 "Require a gesture?"
I wonder if we should require transient activation to perform a rotation?

Going fullscreen would give us the initial rotation... but it would be better to request the rotation when going full screen in the first place.

Then, one could change rotation based on a click() or some other gesture.

[2022-10-07 07:25] marcoscaceres opened #211 "Moving window from one screen to another"
Should specify what happens when one drags the a browser window from one screen to another, which a different orientation.

Should an even fire? should the attribute values change?

[2022-10-07 07:27] marcoscaceres commented on #211
dupe of https://github.com/w3c/screen-orientation/issues/105

[2022-10-07 07:27] #211 closed, assigned to nobody

[2022-10-10 00:08] marcoscaceres commented on #150
The orientations really represent the orientations to which a user can then change by rotating the device. So, landscape really means that the user can change the orientation to either landscape primary and landscape secondary, but not any portrait orientation.

I'm going to redefine things in those terms.

[2022-10-10 05:10] marcoscaceres commented on #206
So yeah, I think at a minimum, we might need a `supportsLocking` boolean or something, because locking to "any" is still a kind of locking.

The use case being, if you are building a UI that has rotate buttons, it doesn't make sense to enable them or show them if you can't rotate the screen.

Alternatively (I'm not sure this is better): we could tell user agents to not expose the `.lock()` on plat

[2022-10-10 12:41] annevk commented on #87
If Screen Orientation is restricted to Fullscreen and properly integrated, then navigation logic for Fullscreen will take care of Screen Orientation automatically.

[2022-10-10 12:43] annevk commented on #97
Let's fold this into #136.

[2022-10-10 12:43] #97 closed, assigned to nobody

[2022-10-10 15:21] saschanaz commented on #206
We might want to build a pattern for this. Could be great if we can have a list of APIs that always fail on certain session-permanent situation (that never changes in the current session).

[2022-10-10 17:10] annevk commented on #206
@domenic is pushing a pattern of sorts whereby we use `supports()` static methods (see `HTMLScriptElement` for instance). That seems somewhat reasonable here. Could maybe also be used to determine whether a platform supports multiple portrait orientations or not (needs use cases first).

[2022-10-10 17:36] saschanaz commented on #206
Cool, but I mean specifically for things that always fail, since it doesn't quite make sense to have functions that are never going to work.

[2022-10-10 23:43] michaelwasserman commented on #210
That's a reasonable line of inquiry, presumably to protect users against abusive sites.

Would you suggest consuming or simply gating on a transient activation signal?

IIUC, sites can currently request an orientation lock change while fullscreen, and invoke another transient activation gated (or consuming) API in response to the same user gesture. How might we determine whether introducing this n

[2022-10-11 01:26] domenic commented on #206
That pattern is more for things which are not detectable in other ways, e.g. declarative markup features. In this case, just trying to call the function and seeing if it fails seems better... try/catch is just as good as if/else, in general.

[2022-10-11 01:35] marcoscaceres commented on #210
I think we want to consume it...

We might need to have a look (via telemetry)... or one of us takes the compat hit.

[2022-10-11 01:45] marcoscaceres commented on #206
@domenic, the problem here is that:

 * a web app might need to provide significant UI (rotate button(s)) before it knows if it can even rotate.
 * the only way to know if it will change orientation is by actually changing orientation.

So, imagine (this would be really bad for users):

[code]

[2022-10-11 06:58] annevk commented on #206
Indeed, try/catch only works if you're guaranteed the try never side effects. That's not the case here. Anyway, it sounds like `ScreenOrientation.supports()` is a thing we could do.

[2022-10-11 22:54] marcoscaceres commented on #168
Closing, as this is to do with device (not screen!) orientation.

[2022-10-11 22:54] #168 closed, assigned to nobody

[2022-10-12 00:03] marcoscaceres commented on #104
Reopening, as this is still an issue.

@saschanaz, @foolip, @michaelwasserman, we've now hit this issue also in WebKit (this was also an issue in Firefox, IIRC).

The problem is that we end up with a race condition:

 1. unlock() makes IPC call.
 2. exitFullscreen() makes IPC call.

The IPC calls can arrive and be processed out of order. That makes a mess for FS API and this one.

I'd like to make

[2022-10-12 07:24] annevk commented on #104
Could you maybe explain the mess and how returning a promise helps resolve it?

At least to me one seems like an implementation concern we'd have to resolve one way or another and the other is a nicety of the API, but doesn't really change the implementation. Except it requires it to do something with the promise, but that seems strictly additional to having to deal with the race.

(One way out mi

[2022-10-12 22:38] marcoscaceres commented on #104
Sure!

## Problem

The over problem with the design of the API is that it's designed to be "fire and forget". I think this was done originally (9 years ago) because some OSs didn't provide any signal about the success of the orientation change.

That led to the current model:

[code]

And the assumption with `unlock()` was the it was "fire and forget" (hence no promise):

[code]

The above assumpt

[2022-10-13 09:00] annevk commented on #104
Okay, so the promise gives web developers a chance to do things better, but we still have to define what happens when they don't. I suppose there's also calling `unlock()` followed by `lock()`. And are these IPC calls all truly parallel or is it more a parallel queue (see HTML)? It seems weird for IPC to go out-of-order but I guess it depends on what it ends up talking to.

[2022-10-13 09:34] marcoscaceres commented on #104
Not only that, but predictability and a degree of assurance that unlocking actually happened (or, in an exceptional case, not).

Yes, absolutely: that's mostly what all the machinery that aborts the promises of previous calls to `lock()` across all associated documents does. The current model is far from perfect (how it works with events is still a bit busted as per #184), but it's workable enough

[2022-10-14 04:44] marcoscaceres opened #219 "HTML integration"
Notes on where this specification needs better integration with HTML:

- [ ] In the [set the active document](https://html.spec.whatwg.org/#set-the-active-document) algorithm, the relevant's Screen's type and angle should be set. That would solve browsing context initialization (create a new browsing context) at the right point in time.
- [x] The "page visibility change steps" should be moved the

[2022-10-14 06:32] marcoscaceres opened #221 "Should hidden documents be allowed to change the orientation?"
I'm thinking we should disallow hidden documents from changing the orientation.

I can't think of a use case whereby this should be allowed.

Together with #210 (require a gesture) that should vastly simplify when/how this API can be used.

[2022-10-14 07:58] #192 closed, assigned to nobody

[2022-10-14 07:58] #193 closed, assigned to nobody

[2022-10-14 07:58] #198 closed, assigned to marcoscaceres

[2022-10-18 04:30] marcoscaceres opened #224 "Clarify manifest's fullscreen can be considered a pre-lock condition."
Setting the the orientation via manifest would still require full screen in the web manifest.

This should be clarified in the appropriate section.

[2022-10-18 06:14] marcoscaceres commented on #206
Just thinking out loud here... a `.canLock()` method could be an alternative.

To return true, the `.canLock()` method presupposes that:

 * all orientations are supported in one way or another (e.g, "portrait-secondary" is treated as "portrait-primary").
 * all pre-lock conditions are met (e.g., is in full screen).
 * The OS supports locking and/or there isn't something else that would prevent th

[2022-10-18 07:35] annevk commented on #206
Wouldn't that prevent using the API when you're not fullscreen to detect if you can go fullscreen and change the orientation?

[2022-10-18 07:50] annevk commented on #219
Presumably the actual orientation change needs integration with "update the rendering".

[2022-10-21 03:02] marcoscaceres commented on #99
Closing for now.

[2022-10-21 03:02] #99 closed, assigned to nobody

[2022-10-21 03:04] marcoscaceres commented on #224
Spec now makes it clear that:

[2022-10-21 03:04] #224 closed, assigned to nobody

[2022-10-21 03:07] marcoscaceres commented on #205
Now all updated to use HTML's definition.

[2022-10-21 03:07] #205 closed, assigned to nobody

[2022-10-21 03:08] marcoscaceres commented on #184
Fixed in latest spec. We now take a copy of the promise and only resolve it after the event fires.

[2022-10-21 03:08] #184 closed, assigned to nobody

[2022-10-21 03:11] marcoscaceres commented on #179
Now handled in the spec. This should also be handled once the visibility stuff moves to HTML.

[2022-10-21 03:11] #179 closed, assigned to nobody

[2022-10-25 03:34] #188 closed, assigned to nobody

[2022-10-25 03:34] #181 closed, assigned to nobody

[2022-10-25 03:40] marcoscaceres commented on #173
This is now specified: Event fires, promise resolves.

[2022-10-25 03:40] #173 closed, assigned to nobody

[2022-10-25 03:41] marcoscaceres commented on #151
Now specified: promise does not reject.

[2022-10-25 03:41] #151 closed, assigned to nobody

[2022-10-25 03:42] marcoscaceres commented on #150
Respecified in latest draft.

[2022-10-25 03:42] #150 closed, assigned to nobody

[2022-10-25 03:43] marcoscaceres commented on #145
Duplicate of #219

[2022-10-25 03:43] #145 closed, assigned to nobody

[2022-10-25 03:44] marcoscaceres commented on #119
Rechecked every assertion. Everything is now tested.

[2022-10-25 03:44] #119 closed, assigned to nobody

[2022-10-25 04:29] marcoscaceres commented on #62
Closing in favor of https://github.com/whatwg/fullscreen/issues/202

[2022-10-25 04:29] #62 closed, assigned to nobody

[2022-10-25 04:30] marcoscaceres commented on #136
Closing as duplicate of #219

[2022-10-25 04:30] #136 closed, assigned to nobody

[2022-10-25 04:32] marcoscaceres commented on #105
Now handled by:
https://w3c.github.io/screen-orientation/#screen-orientation-change

[2022-10-25 04:32] #105 closed, assigned to nobody

[2022-10-25 04:33] marcoscaceres commented on #162
Closing, at it's been around too long to deprecate. It's still really unreliable by the looks of it.

[2022-10-25 04:34] #162 closed, assigned to nobody

[2022-10-25 04:35] marcoscaceres commented on #209
Duplicate of https://github.com/whatwg/fullscreen/issues/202

The lock() dependency is also handled in
https://w3c.github.io/screen-orientation/#fullscreen-interaction

[2022-10-25 04:35] #209 closed, assigned to nobody

[2022-10-25 04:38] marcoscaceres commented on #201
## I18n checklist

No.

No

no

no

no

no

no

no

no

no

no

no.

[2022-10-25 04:52] marcoscaceres commented on #201
## Privacy and Security self-review questionnaire for Screen Orientation API

The feature exposes the orientation type and angle of the screen to the web page, and when the screen orientation changes.
This is necessary for web pages adapt to the orientation of the screen.

Yes.

It provides guidance on how and whe to lie about the screen orientation type and angle.

As above.

No.

Yes, the orient

[2022-10-25 04:59] marcoscaceres commented on #101
As angle is kinda useless/inconsistent anyway, I'd be fine with removing this requirement entirely.

[2022-10-25 05:01] marcoscaceres commented on #101
No longer in the draft.

[2022-10-25 05:01] #101 closed, assigned to nobody

[2022-10-27 02:29] #87 closed, assigned to nobody

[2022-10-27 07:39] marcoscaceres commented on #206
yes, indeed. Ok, so scratch checking the preconditions.

If we assume the following invariant:

Then that only requires a single check: ".canProbablyLock" (boolean) which would be: "they're nothing preventing user agent from attempting to lock the screen orientation".

On desktop platforms, this would return `false`:  it's not common convention to support `lock()`'ing.

On other platforms, it woul

[2022-10-27 07:47] marcoscaceres commented on #206
Some down sides:

 * people might use it to detect "mobile browsers". It's literally what people were doing with the old API: https://stackoverflow.com/questions/11381673/detecting-a-mobile-browser
 * it's a fingerprinting bit - but might be unavoidable.
 * It's basically the same as not exposing `.lock()` at all.

[2022-10-27 12:31] annevk opened #233 ""reject and nullify the current lock promise" nit"
Most callers do a null check but this algorithm does one too. Either make an assert in the algorithm that it's not null and fix the remaining caller, or simplify the callers. The current combination is a tad confusing.

[2022-10-27 12:33] annevk opened #234 ""reject and nullify the current lock promise" and tasks"
I don't really understand why this queues tasks, until I saw that it also had an "in parallel" caller. However, that caller should probably queue a task to run this as this algorithm inspects document state that's not going to be available in parallel, right?

[2022-10-28 04:46] marcoscaceres commented on #234
Right, yeah, it's going to parallel too early. I'll try to fix it up...

[2022-10-31 00:30] marcoscaceres opened #237 "Split out the safety checks into a shared algorithm"
For .lock() and .unlock(), it would be good to have shared steps to link to for where safety checks are done.

[2022-10-31 03:12] #233 closed, assigned to nobody

[2022-10-31 03:13] marcoscaceres commented on #104
Sent https://github.com/w3c/screen-orientation/pull/231 ... folks interested in this topic, would really appreciate your review and feedback. CC @michaelwasserman

[2022-11-01 19:47] #234 closed, assigned to nobody

[2022-11-02 02:30] marcoscaceres opened #238 "Switch to "navigables" instead of browsing contexts"
See https://github.com/whatwg/fullscreen/pull/208

[2022-11-09 04:59] #238 closed, assigned to nobody

[2022-11-14 05:37] marcoscaceres commented on #206
Just noting that it is hypothetically possible that a user could transfer the document from one "desktop class" screen to a mobile device, which could allow changing orientation. So this may require a companion event.

[2022-11-15 00:20] marcoscaceres commented on #206
It might be prudent to go down the CSS route with this, as the primary use case revolves around showing/hiding bits of UI.

Would it be fair to say that the ability to change orientation is really describing a media feature? Like, `can-lock-orientation`:

[code]

[2022-11-15 08:01] annevk commented on #206
Doesn't seem entirely unreasonable. 😊

[2022-11-16 03:31] marcoscaceres commented on #206
@makotokato, what do you think? Should we pursue the CSS media feature route?

[2022-11-28 02:08] marcoscaceres commented on #206
@makotokato, gentle ping. Would like gauge your level of interest before I set about specifying it.

[2022-11-28 04:27] makotokato commented on #206
I guess that it may not better to use media query. If using media query, I guess it is better to add `orientation-lock` media feature like `display-mode` of full screen. `orientation` feature doesn't have all information of orientation lock.

I vote `orientation.canLock`.